.article-content > [class*="bg-"]:not(.ce_rsce_twocolimagewall):not(.ce_rsce_fullwidthgallery):not(.badge):not(.ce--headline) {
  padding-block: var(--main-gap);
}




.mod_article:has(.article-content[class*="bg-"]) + .mod_article {
  //padding-top: var(--main-gap);
}


.video_container, .content-youtube {
  position: relative !important;
  padding-bottom: 56.25% !important;

  iframe,
  embed,
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
}





.mod_article .article-content[class*="bg-"] {
  padding-block: var(--main-gap);

  .content--element:last-child{
    margin-bottom: 0 !important;
  }
}

.content--element {
  position: relative;

  &.border-top {
    padding-top: var(--main-gap);
  }

  &.border-bottom {
    padding-bottom: var(--main-gap);
  }
}

