.article-content > [class*="bg-"]:not(.ce_rsce_twocolimagewall):not(.ce_rsce_fullwidthgallery):not(.badge):not(.ce--headline) {
  padding-block: var(--main-gap);
}




.mod_article:has(.article-content[class*="bg-"]) + .mod_article {
  //padding-top: var(--main-gap);
}

.BodyScrollToTop {
  width: rfs-value(40px);
  height: rfs-value(40px);
  line-height: rfs-value(40px);
  text-align: center;
  color: var(--bs-body-color-inverse);
  border: 2px solid var(--bs-primary);
  background-color: var(--bs-primary);
  border-radius: 50%;
  margin: 1.5rem auto 0 auto;
  transition: all 0.3s ease;
  @include font-size(30px);
  cursor: pointer;
  bottom: 75px;
  right: 25px;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  box-shadow: $box-shadow;
  z-index: 6;

  &.visible {
    opacity: 1;
    visibility: visible;
  }

  i {
    //line-height: 1;
  }

  &:hover {
    background-color: transparent;
    color: var(--bs-primary);
  }
}
.video_container, .content-youtube {
  position: relative !important;
  padding-bottom: 56.25% !important;

  iframe,
  embed,
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
}





.mod_article .article-content[class*="bg-"] {
  padding-block: var(--main-gap);

  .content--element:last-child{
    margin-bottom: 0 !important;
  }
}

.content--element {
  position: relative;

  &.border-top {
    padding-top: var(--main-gap);
  }

  &.border-bottom {
    padding-bottom: var(--main-gap);
  }
}

