$white: #fff;
$gray: var(--bs-gray-300);

$gray-100: #F1F5F7;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #888888;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$primary: #113634;
$secondary: #deeec6;
$tertiary: #92a0ff;

$body-bg: #ffffff;
$body-color: $primary;

$border-radius: 12px;
$border-radius-lg: 18px;
$box-shadow: 0 0 12px rgba(39, 39, 39, 0.15);

$offset-sm: 60px;
$offset-lg: 240px;

$link-color: $primary;
$link-hover-color:$tertiary;
$link-decoration: none;
$link-shade-percentage: 20%;
$link-hover-decoration: none;

$border-color: var(--bs-body-color);
$input-focus-border-color: var(--bs-primary-rgb);
$input-placeholder-color: var(--bs-placeholder-color);

$fa-font-display: swap;

$fa-font-path: "/files/base/layout/_vendor/node_modules/@awesome.me/kit-2504132cb2/icons/webfonts";
$enable-cssgrid: true;
$enable-rounded: true;
$icon-type: ".fak";

$spacer: 2rem;
$spacer-sm: $spacer/2;
$spacer-lg: $spacer*2;

$grid-gutter-width: 30px;

$left-col--width: 275px;
$right-col--width: 250px;

$modal-sm: 520px;
$modal-md: 760px;
$modal-lg: 940px;
$modal-xl: 1140px;

$btn-line-height: 1;
$font-family-base: "Figtree", sans-serif;

$font-weight-light: 300;
$font-weight-base: 400;
$font-weight-medium: 400;
$font-weight-bold: 600;
$font-weight-black: 600;

$font-size-xs: 10px;
$font-size-sm: 14px;
$font-size-base: 16px;
$font-size-lg: 18px;
$font-size-xl: 28px;

$headings-font-family: null;
$headings-font-style: null;
$headings-font-weight: 400;
$headings-line-height: 1.1;
//$headings-color: #4A4643;

$tooltip-font-size:                 12px;
$tooltip-color:                     var(--bs-body-color-inverse);
$tooltip-bg:                        var(--bs-primary);
$tooltip-max-width:                300px;

$form-floating-padding-x: .75rem;
$form-floating-real-padding-x: calc(var(--bs-gutter-x)*.5 + #{$form-floating-padding-x});


$theme-colors: (
        "primary": $primary,
        "secondary": $secondary,
        "tertiary": $tertiary,
        "red": #871623,
        "blue": #00274a,
        "purple": #6610f2,
        "success": #dbe8e2,
        "info": #d1ecf1,
        "warning": #ffc107,
        "danger": #dc3545,
        "light": $gray-100,
        "dark": $gray-900,
);
