$theme-colors: (
        "primary": $primary,
        "secondary": $secondary,
        "tertiary": $tertiary,
        "red": #871623,
        "blue": #00274a,
        "purple": #6610f2,
        "success": #dbe8e2,
        "info": #d1ecf1,
        "warning": #ffc107,
        "danger": #dc3545,
        "light": $gray-100,
        "dark": $gray-900,
);


$spacers: (
        0: 0,
        1: 0.5rem,
        2: 1rem,
        3: 1.5rem,
        4: 2rem,
        5: 2.5rem,
        6: 3rem,
        7: 3.5rem,
        8: 4rem,
        9: 4.5rem,
        10: 5rem,
);

$gutters: (
        0: 0,
        1: $grid-gutter-width * 0.5,
        2: $grid-gutter-width,
        3: $grid-gutter-width * 2,
        4: $grid-gutter-width * 3,
        5: $grid-gutter-width * 4,
);



$headings-font-sizes: (
        'h1': (
                'mobile': rfs-value(32px),
                'tablet': rfs-value(46px),
                'desktop': rfs-value(55px)
        ),
        'h2': (
                'mobile': rfs-value(29px),
                'tablet': rfs-value(39px),
                'desktop': rfs-value(48px)
        ),
        'h3': (
                'mobile': rfs-value(26px),
                'tablet': rfs-value(30px),
                'desktop': rfs-value(30px)
        ),
        'h4': (
                'mobile': rfs-value(23px),
                'tablet': rfs-value(27px),
                'desktop': rfs-value(31px)
        ),
        'h5': (
                'mobile': rfs-value(20px),
                'tablet': rfs-value(22px),
                'desktop': rfs-value(25px)
        ),
        'h6': (
                'mobile': rfs-value(18px),
                'tablet': rfs-value(19px),
                'desktop': rfs-value(20px)
        )
);