/files/syncCto_backups/
/auth.json
/composer.lock
/composer.phar
/files/base/layout/css/bundle.min.css
/files/base/layout/_vendor/node_modules
app/config/parameters.yml
/.idea
/files/base/layout/css/_theme/
/composer.json
/files/base/layout/js/_theme/
