/* zen-kaku-gothic-new-300 - latin */
@font-face {
  font-family: 'Zen Kaku Gothic New';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../_fonts/zen_kaku_gothic/font/zen-kaku-gothic-new-v13-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../_fonts/zen_kaku_gothic/font/zen-kaku-gothic-new-v13-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../_fonts/zen_kaku_gothic/font/zen-kaku-gothic-new-v13-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../_fonts/zen_kaku_gothic/font/zen-kaku-gothic-new-v13-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../_fonts/zen_kaku_gothic/font/zen-kaku-gothic-new-v13-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../_fonts/zen_kaku_gothic/font/zen-kaku-gothic-new-v13-latin-300.svg#ZenKakuGothicNew') format('svg'); /* Legacy iOS */
}

/* zen-kaku-gothic-new-regular - latin */
@font-face {
  font-family: 'Zen Kaku Gothic New';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../_fonts/zen_kaku_gothic/font/zen-kaku-gothic-new-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../_fonts/zen_kaku_gothic/font/zen-kaku-gothic-new-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../_fonts/zen_kaku_gothic/font/zen-kaku-gothic-new-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../_fonts/zen_kaku_gothic/font/zen-kaku-gothic-new-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../_fonts/zen_kaku_gothic/font/zen-kaku-gothic-new-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../_fonts/zen_kaku_gothic/font/zen-kaku-gothic-new-v13-latin-regular.svg#ZenKakuGothicNew') format('svg'); /* Legacy iOS */
}

/* zen-kaku-gothic-new-500 - latin */
@font-face {
  font-family: 'Zen Kaku Gothic New';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../_fonts/zen_kaku_gothic/font/zen-kaku-gothic-new-v13-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../_fonts/zen_kaku_gothic/font/zen-kaku-gothic-new-v13-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../_fonts/zen_kaku_gothic/font/zen-kaku-gothic-new-v13-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../_fonts/zen_kaku_gothic/font/zen-kaku-gothic-new-v13-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../_fonts/zen_kaku_gothic/font/zen-kaku-gothic-new-v13-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../_fonts/zen_kaku_gothic/font/zen-kaku-gothic-new-v13-latin-500.svg#ZenKakuGothicNew') format('svg'); /* Legacy iOS */
}

/* zen-kaku-gothic-new-700 - latin */
@font-face {
  font-family: 'Zen Kaku Gothic New';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../_fonts/zen_kaku_gothic/font/zen-kaku-gothic-new-v13-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../_fonts/zen_kaku_gothic/font/zen-kaku-gothic-new-v13-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../_fonts/zen_kaku_gothic/font/zen-kaku-gothic-new-v13-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../_fonts/zen_kaku_gothic/font/zen-kaku-gothic-new-v13-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../_fonts/zen_kaku_gothic/font/zen-kaku-gothic-new-v13-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../_fonts/zen_kaku_gothic/font/zen-kaku-gothic-new-v13-latin-700.svg#ZenKakuGothicNew') format('svg'); /* Legacy iOS */
}

/* zen-kaku-gothic-new-900 - latin */
@font-face {
  font-family: 'Zen Kaku Gothic New';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../_fonts/zen_kaku_gothic/font/zen-kaku-gothic-new-v13-latin-900.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../_fonts/zen_kaku_gothic/font/zen-kaku-gothic-new-v13-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../_fonts/zen_kaku_gothic/font/zen-kaku-gothic-new-v13-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../_fonts/zen_kaku_gothic/font/zen-kaku-gothic-new-v13-latin-900.woff') format('woff'), /* Modern Browsers */
       url('../_fonts/zen_kaku_gothic/font/zen-kaku-gothic-new-v13-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../_fonts/zen_kaku_gothic/font/zen-kaku-gothic-new-v13-latin-900.svg#ZenKakuGothicNew') format('svg'); /* Legacy iOS */
}
