:root {
  --animate-duration: 1500ms;
  --animate-delay: 0.75s;

  --bs-primary: var(--bs-red);
  --bs-secondary: var(--bs-gray-900);

  --bs-primary-rgb: 135, 22, 35;
  --bs-secondary-rgb: 33, 37, 41;

  --bs-blue: #00274a;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #871623;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;

  --bs-white: #fff;
  --bs-black: #000;

  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #888888;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;

  --bs-success: #dbe8e2;
  //--bs-success-rgb: 212, 237, 218;

  --bs-info: #d1ecf1;
  //--bs-info-rgb: 209, 236, 241;

  --bs-warning: #fff3cd;
  //--bs-warning-rgb: 255, 243, 205;

  --bs-danger: #f8d7da;
  //--bs-danger-rgb: 248, 215, 218;

  --bs-light: var(--bs-gray-200);
  //--bs-light-rgb: 254, 254, 254;

  --bs-dark: var(--bs-gray-900);
  //--bs-dark-rgb: 214, 216, 217;


  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;


  --bs-font-primary: "Open Sans", sans-serif;
  --bs-font-secondary: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-font-tertiary: "Montserrat", sans-serif;

  --bs-font-sans-serif: var(--bs-font-primary);
  --bs-font-monospace: var(--bs-font-secondary);

  --bs-gradient: linear-gradient(180deg, rgba(var(--bs-white-rgb), 0.15), rgba(var(--bs-white-rgb), 0));

  --bs-font-weight-100: 100;
  --bs-font-weight-200: 200;
  --bs-font-weight-300: 300;
  --bs-font-weight-400: 400;
  --bs-font-weight-500: 500;
  --bs-font-weight-600: 600;
  --bs-font-weight-700: 700;
  --bs-font-weight-800: 800;
  --bs-font-weight-900: 900;

  --bs-body-font-family: var(--bs-font-primary);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: var(--bs-font-weight-300);

  --bs-body-line-height-lg: 1.5;
  --bs-body-line-height: 1.3;
  --bs-body-line-height-sm: 1.15;
  --bs-body-line-height-xs: 1;

  --bs-body-color: #212529;
  --bs-body-color-rgb: 33, 37, 41;

  --bs-body-bg: #fff;
  --bs-body-bg-rgb: 255, 255, 255;

  --bs-body-color-inverse: #fff;
  --bs-headline-color: var(--bs-body-color);
  --bs-headline-font-weight: #{$font-weight-bold};


  --bs-border-radius-sm: 5px;
  --bs-border-radius: 10px;
  --bs-border-radius-xl: 25px;

  --bs-base-box-shadow: 0 0 12px rgba(39, 39, 39, 0.15);

  --bs-border-color: var(--bs-gray-400);

  --bs-header-navbar-bg: rgba(255, 255, 255, 0.9);
  --bs-header-border-color: var(--bs-border-color);
  --bs-header-link-color: var(--bs-body-color);
  --bs-header-font-weight: var(--bs-body-font-weight);


  --bs-footer-top-bg: var(--bs-gray-600);
  --bs-footer-middle-bg: var(--bs-primary);
  --bs-footer-bottom-bg: var(--bs-black);

  --swiper-theme-color: var(--bs-primary);

  --bs-megamenu-width: 1100px;
  --bs-megamenu-background: rgba(0, 0, 0, 0.85);
  --bs-megamenu-overlay-background: rgba(var(--bs-white-rgb), 0.5);
  --bs-megamenu-lvl1-color: var(--bs-body-color-inverse);
  --bs-megamenu-lvl2-color: var(--bs-primary);
  --bs-megamenu-lvl3-color: var(--bs-body-color-inverse);
  --bs-megamenu-imageHeight: 125px;


  //Inputs
  --bs-input-border-radius: var(--bs-border-radius);
  --bs-input-border: 1px solid var(--bs-border-color);
  --bs-input-shadow: var(--bs-base-box-shadow);
  --bs-input-padding-x: .75rem;
  --bs-input-padding-y: 1rem;
  --bs-input-color: var(--bs-body-color);
  --bs-placeholder-color: var(--bs-body-color-rgb), 0.4;

  //Shop
  --bs-shop-bg: var(--bs-gray-200);
  --bs-shop-filter-bg: var(--bs-gray-100);


  //Stöerer
  --bs-fixed-stoerer--bg: var(--bs-white);
  --bs-fixed-stoerer--color: var(--bs-primary);
  --bs-fixed-stoerer--font-size: 1.75rem;
  --bs-fixed-stoerer--padding: 5px;
  --bs-fixed-stoerer--box-shadow: var(--bs-base-box-shadow);
  --bs-fixed-stoerer--right: 0;
  --bs-fixed-stoerer--top: 35vh;
  --bs-fixed-stoerer--border-radius: 10px 0px 0px 10px;


  //MMenu
  --mm-line-height: 20px;
  --mm-listitem-size: 44px;
  --mm-navbar-size: 44px;
  --mm-offset-top: 0;
  --mm-offset-right: 0;
  --mm-offset-bottom: 0;
  --mm-offset-left: 0;
  --mm-color-border: rgba(0, 0, 0, 0.1);
  --mm-color-button: rgba(0, 0, 0, 0.3);
  --mm-color-text: var(--bs-body-color);
  --mm-color-text-dimmed: rgba(0, 0, 0, 0.3);
  --mm-color-text-highlighted: rgba(0, 0, 0, 0.05);
  --mm-color-background: var(--bs-body-bg);
  --mm-color-background-highlight: rgba(0, 0, 0, 0.05);
  --mm-color-background-emphasis: rgba(var(--bs-white-rgb), 0.4);
  --mm-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  //variables-layout beachten
  --bs-container-width-sm: 540px;
  --bs-container-width-md: 720px;
  --bs-container-width-lg: 960px;
  --bs-container-width-xl: 1140px;
  --bs-container-width-xxl: 1600px;

  --bs-mobile-max-width: 767px;

}

