:root {
  @each $color, $value in $theme-colors {
    --bs-#{$color}-rgb: #{to-rgb($value)};
  }

  --main-gap: #{clamp($basic-gutter * 0.75, 5vw, $basic-gutter * 1.5)};

  --bs-gray: #{$gray};

  --bs-gradient: linear-gradient(to top, #004878, #002c50);

  --bs-basic-spacing: clamp(
          calc(#{$basic-gutter} / 2),
          5vw,
          calc(#{$basic-gutter} * 1.25)
  );


  //--bs-btn-padding-top:  0.75rem;
  //--bs-btn-padding-bottom: 0.75rem;
  --bs-btn-padding-left: 1rem;
  --bs-btn-padding-right: 1rem;

  --bs-body-font-size: 1rem;

  --bs-body-font-weight: var(--bs-font-weight-300);

  --bs-body-line-height-xs: 1.05;
  --bs-body-line-height-sm: 1.15;
  --bs-body-line-height: 1.3;
  --bs-body-line-height-lg: 1.5;

  --bs-body-color-inverse: #fff;

  --bs-topline-color: var(--bs-primary);
  --bs-subline-color: var(--bs-primary);

  --bs-h1-font-weight: #{$font-weight-bold};
  --bs-h2-font-weight: #{$font-weight-bold};
  --bs-h3-font-weight: #{$font-weight-bold};
  --bs-h4-font-weight: #{$font-weight-bold};
  --bs-h5-font-weight: #{$font-weight-bold};
  --bs-h6-font-weight: #{$font-weight-bold};

  --bs-topline-font-weight: #{$font-weight-black};
  --bs-subline-font-weight: #{$font-weight-light};

  --bs-border-radius-sm: calc(var(--bs-border-radius) / 2);
  --bs-border-radius: 10px;
  --bs-border-radius-xl: calc(var(--bs-border-radius) * 2);

  --bs-box-shadow-inset-lg: inset 0px 25px 40px rgba(0, 0, 0, 0.5);

  --bs-border-color: var(--bs-gray-400);

  --bs-header-navbar-bg: rgba(255, 255, 255, 0.9);
  --bs-header-border-color: var(--bs-border-color);
  --bs-header-link-color: var(--bs-body-color);
  --bs-header-link-hover-color: var(--bs-primary);
  --bs-header-font-weight: #{$font-weight-bold};
  --bs-header-navbar-subnav-bg: var(--bs-secondary);
  --bs-header-navbar-subnav-link-color: var(--bs-body-color);
  --bs-header-navbar-subnav-hover-link-color: var(--bs-primary);
  --bs-header-navbar-subnav-font-weight: var(--bs-body-font-weight);
  --bs-header-minheight: 60px;

  --bs-footer-top-bg: var(--bs-gray-600);
  --bs-footer-middle-bg: var(--bs-primary);
  --bs-footer-bottom-bg: var(--bs-black);
  --bs-footer-color: var(--bs-body-color-inverse);

  --swiper-theme-color: var(--bs-primary);
  --swiper-pagination-bullet-height: 14px;
  --swiper-pagination-bullet-width: var(--swiper-pagination-bullet-height);
  --swiper-navigation-size: 35px;


  //Inputs
  --bs-input-border-radius: var(--bs-border-radius);
  --bs-input-border: 1px solid var(--bs-border-color);
  --bs-input-shadow: var(--bs-base-box-shadow);
  --bs-input-padding-x: 0.75rem;
  --bs-input-padding-y: 1rem;
  --bs-input-color: var(--bs-body-color);
  --bs-placeholder-color: var(--bs-body-color-rgb), 0.4;
  --bs-input-height: 58px;

  //Shop
  --bs-shop-bg: var(--bs-gray-200);
  --bs-shop-filter-bg: var(--bs-gray-100);

  //Stöerer
  --bs-fixed-stoerer--bg: var(--bs-white);
  --bs-fixed-stoerer--color: var(--bs-primary);
  --bs-fixed-stoerer--font-size: 1.75rem;
  --bs-fixed-stoerer--padding: 5px;
  --bs-fixed-stoerer--box-shadow: var(--bs-base-box-shadow);
  --bs-fixed-stoerer--right: 0;
  --bs-fixed-stoerer--top: 35vh;
  --bs-fixed-stoerer--border-radius: 10px 0px 0px 10px;


  //variables-layout beachten
  --bs-container-width-sm: 540px;
  --bs-container-width-md: 720px;
  --bs-container-width-lg: 960px;
  --bs-container-width-xl: 1140px;
  --bs-container-width-xxl: 1600px;

  --bs-mobile-max-width: 767px;
  --bs-container-gutter: 15px;

  // Animate on Scroll
  --animate-duration: 750ms;
  --animate-delay: 0s;
  //--animate-repeat: 0;
  //--animate-sequence: 1;

  --with-body-bg-spacing: calc(var(--bs-basic-spacing) * 1.5);
  --base-skew: -2.5deg;


  --bs-scrolloffset: 125px;
}