$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$primary: #871623;
$secondary: #00274a;
$tertiary: #6610f2;
$success: #dbe8e2;
$info: #d1ecf1;
$warning: #fff3cd;
$danger: #f8d7da;
$light: $gray-100;
$dark: $gray-900;
// scss-docs-end theme-color-variables

// scss-docs-start theme-colors-map
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "tertiary": $tertiary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
);

$font-weight-lighter: var(--bs-font-weight-200);
$font-weight-light: var(--bs-font-weight-300);
$font-weight-regular: var(--bs-font-weight-400);
$font-weight-medium: var(--bs-font-weight-500);
$font-weight-semibold: var(--bs-font-weight-600);
$font-weight-bold: var(--bs-font-weight-700);
$font-weight-black: var(--bs-font-weight-800);

$border-radius: var(--bs-border-radius);
$box-shadow: var(--bs-base-box-shadow);

// Header
$header-navbar-bg: var(--bs-header-navbar-bg);

// Footer

$footer-top-bg: var(--bs-footer-top-bg);
$footer-middle-bg: var(--bs-footer-middle-bg);
$footer-bottom-bg: var(--bs-footer-bottom-bg);

// Weitere Farben

$body-bg: #ffffff;

$input-focus-border-color: var(--bs-primary-rgb);
$input-placeholder-color: var(--bs-placeholder-color);

$font-family-base: var(--bs-font-primary);

$fa-font-display: swap;

// Megamenü
$megamenu-width: var(--bs-megamenu-width);
$megamenu-background: var(--bs-megamenu-background);
$megamenu-overlay-background: var(--bs-megamenu-overlay-background);
$megamenu-lvl1-color: var(--bs-megamenu-lvl1-color);
$megamenu-lvl2-color: var(--bs-megamenu-lvl2-color);
$megamenu-lvl3-color: var(--bs-megamenu-lvl3-color);
$megamenu-imageHeight: var(--bs-megamenu-imageHeight);
