/*
$enable-caret:                true !default;
$enable-rounded:              true !default;
$enable-shadows:              false !default;
$enable-gradients:            false !default;
$enable-transitions:          true !default;
$enable-reduced-motion:       true !default;
$enable-smooth-scroll:        true !default;
$enable-grid-classes:         true !default;
$enable-container-classes:    true !default;
$enable-cssgrid:              false !default;
$enable-button-pointers:      true !default;
$enable-rfs:                  true !default;
$enable-validation-icons:     true !default;
$enable-negative-margins:     false !default;
$enable-deprecation-messages: true !default;
$enable-important-utilities:  true !default;

$enable-dark-mode:            true !default;
$color-mode-type:             data !default; // `data` or `media-query`
 */

$white: #fff;
$gray: var(--bs-gray-300);

$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #888888;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$primary: #871623;
$secondary: #00274a;
$tertiary: #6610f2;

// Weitere Farben
$body-bg: #ffffff;
$body-color: #212529; //#{var(--bs-gray-900)}

$border-radius: var(--bs-border-radius);
$box-shadow: 0 0 12px rgba(39, 39, 39, 0.15);


// Links
$link-decoration: none;
$link-shade-percentage: 20%;
$link-hover-decoration: null;




//Inputs
$input-focus-border-color: var(--bs-primary-rgb);
$input-placeholder-color: var(--bs-placeholder-color);

$fa-font-display: swap;

// Megamenü
$megamenu-width: var(--bs-megamenu-width);
$megamenu-background: var(--bs-megamenu-background);
$megamenu-overlay-background: var(--bs-megamenu-overlay-background);
$megamenu-lvl1-color: var(--bs-megamenu-lvl1-color);
$megamenu-lvl2-color: var(--bs-megamenu-lvl2-color);
$megamenu-lvl3-color: var(--bs-megamenu-lvl3-color);
$megamenu-imageHeight: var(--bs-megamenu-imageHeight);

$fa-font-path: "/files/base/layout/_vendor/node_modules/@awesome.me/kit-c9b4e661cb/icons/webfonts";

$enable-cssgrid: true;
$enable-rounded: true;
$spacer: 2.5rem;
$icon-type: ".fasl";


//Abstände
$basic-gutter: $spacer * 2;
$mini-spacing: $spacer/2;


$grid-gutter-width: 30px;


// Spalten
$left-col--width: 275px;
$right-col--width: 250px;

// Modales Fenster
$modal-sm: 520px;
$modal-md: 760px;
$modal-lg: 940px;
$modal-xl: 1140px;

$btn-line-height: 1;
$font-family-base: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$font-weight-black: 900;


//$font-weight-base: $font-weight-normal;

$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$font-size-sm: $font-size-base * 0.875;
$font-size-lg: $font-size-base * 1.25;

$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;


$headings-margin-bottom: $spacer * 0.5;
$headings-font-family: null;
$headings-font-style: null;
$headings-font-weight: 500;
$headings-line-height: 1.2;


