$fa-font-path: "/files/base/layout/_fonts/fontawesome-iconset/webfonts";

$enable-cssgrid: true !default;
$enable-rounded: true !default;
$spacer: 2rem !default;
$icon-type: ".fasl" !default;

$spacers: (
        0: 0,
        1: .5rem,
        2: 1rem,
        3: 1.5rem,
        4: 2rem,
        5: 2.5rem,
        6: 3rem,
        7: 3.5rem,
        8: 4rem,
        9: 4.5rem,
        10: 5rem,
) !default;

//Abstände


$basic-gutter: $spacer * 2 !default;
$headline-spacing: $spacer * 1.5 !default;
$mini-spacing: $spacer/2 !default;

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1640px,
) !default;

$grid-gutter-width: 30px !default;


$gutters: (
        0: 0,
        1: $grid-gutter-width * 0.5,
        2: $grid-gutter-width,
        3: $grid-gutter-width * 2,
        4: $grid-gutter-width * 3,
        5: $grid-gutter-width * 4,
) !default;



//CSS Variablen beachten
$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1600px,
) !default;

// Spalten

$left-col--width: 275px !default;
$right-col--width: 250px !default;

// Modales Fenster

$modal-sm: 520px !default;
$modal-md: 760px !default;
$modal-lg: 940px !default;
$modal-xl: 1140px !default;
