@mixin aspect-ratio($width, $height, $float: false) {
  position: relative;
  @if $float {
    overflow: hidden;
    &:before {
      display: table;
      content: "";
      padding-top: ($height / $width) * 100%;
      float: left;
    }
  } @else {
    &:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: ($height / $width) * 100%;
    }
    > * {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}

@mixin background-opacity($color, $opacity: 0.3) {
  background: $color; /* The Fallback */
  background: rgba($color, $opacity);
}