@import "variables";
@import "_theme/variables";
@import "mixins";

@import "../_vendor/vendor";
// Swiper ist auskommentiert


@import "../_fonts/fonts";

@import "scaffolding/helper-classes";
@import "scaffolding/typo";
@import "scaffolding/forms";
@import "scaffolding/buttons";
@import "scaffolding/hacks";


@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}


html {
  -webkit-animation: fadein .75s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein .75s; /* Firefox < 16 */
  -ms-animation: fadein .75s; /* Internet Explorer */
  -o-animation: fadein .75s; /* Opera < 12.1 */
  animation: fadein .75s;

  body {

    &#tinymce {
      @include padding(7px 12px);
    }

    @import "areas/header";
    //@import "areas/header_type1";
    @import "areas/header_type2";

    @import "areas/main";

    @import "areas/footer";
    //@import "areas/footer_type1";
    @import "areas/footer_type2";

    @import "elements/navigation";
    @import "elements/modal";
    @import "elements/elements";
    @import "elements/slider";
    @import "elements/news";
  }
}



@import "_theme/styles";