@import "mixins";
@import "variables-layout";
@import "_theme/variables-layout";

@import "../_fonts/fonts";
@import "../_vendor/vendor";

@import "variables";
@import "_theme/variables";

@import "scaffolding/helper-classes";
@import "scaffolding/typo";
@import "scaffolding/forms";
@import "scaffolding/buttons";
@import "scaffolding/hacks";

:root {
  --animate-duration: 1500ms;
  --animate-delay: 0.75s;
}

html {
  scroll-behavior: smooth;
  font-size: var(--bs-body-font-size);

  body {
    &#tinymce {
      @include padding(7px 12px);
    }

    @import "areas/header";
    @import "areas/main";
    @import "areas/aside";
    @import "areas/footer";

    @import "elements/navigation";
    @import "elements/modal";
    @import "elements/elements";
    @import "elements/form-elements";
    @import "elements/slider";
    @import "elements/news";
    @import "elements/events";
    @import "elements/contao-accordions";
    @import "elements/ce_downloads";
    @import "elements/ce_image";
    @import "elements/ce_gallery";

    @import "elements/megamenu";
    @import "elements/breadcrumb";

    @import "_theme/includes";
  }
}

@import "_theme/styles";
