$fa-font-path: "../_fonts/fontawesome/webfonts/";

$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #871623;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;

$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

$black: black;
$white: white;

$primary: $red;
$primary-light: lighten($primary, 15%);
$primary-lighter: lighten($primary, 30%);
$primary-dark: darken($primary, 15%);
$primary-darker: darken($primary, 30%);

$secondary: $gray-900;
$secondary-light: $secondary;
$secondary-lighter: $secondary;
$secondary-dark: $secondary;
$secondary-darker: $secondary;

$font-weight-medium: 500;

$border-radius: 10px;


// Spalten

$left-col--width: 275px;
$right-col--width: 250px;


// Footer

$footer-top-bg: $gray-900;
$footer-middle-bg: $primary;
$footer-bottom-bg: $black;

$text-color-inverse: white;
$text-color: $gray-900;

$body-bg: $white;
$body-color: $text-color;

$font-family-base: "Open Sans", sans-serif;
$font-family-sans-serif: "Montserrat", sans-serif;
$font-weight-semibold: 600;

$fa-font-display: swap;

//Swiper
$themeColor: $primary;

$spacer: 1.5rem;
$spacers: (
        0: 0,
        1: $spacer * .25,
        2: $spacer * .5,
        3: $spacer * .75,
        4: $spacer,
        5: $spacer * 1.25,
        6: $spacer * 1.5,
        7: $spacer * 1.75,
        8: $spacer * 2,
        9: $spacer * 2.25,
        10: $spacer * 2.5,
        11: $spacer * 2.75,
        12: $spacer * 3,
        13: $spacer * 3.25,
        14: $spacer * 3.5,
        15: $spacer * 3.75,
        16: $spacer * 4,
        17: $spacer * 4.25,
        18: $spacer * 4.5,
        19: $spacer * 4.75,
        110: $spacer * 5,
);

$basic-gutter: $spacer*2;
$headline-spacing: $spacer;

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px
);


$grid-gutter-width: 1rem;
$gutters: (
        0: 0,
        1: $grid-gutter-width * .25,
        2: $grid-gutter-width * .5,
        3: $grid-gutter-width,
        4: $grid-gutter-width * 1.5,
        5: $grid-gutter-width * 3,
);
