:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #871623;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-black: #000;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: var(--bs-red);

  --bs-secondary: var(--bs-gray-900);

  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 135, 22, 35;
  --bs-secondary-rgb: 33, 37, 41;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: "Open Sans", sans-serif;
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
  "Liberation Mono", "Courier New", monospace;


  --bs-font-primary: var(--bs-font-sans-serif);
  --bs-font-secondary: var(--bs-font-monospace);
  --bs-font-tertiary: "Montserrat", sans-serif;

  --bs-gradient: linear-gradient(
                  180deg,
                  rgba(var(--bs-white-rgb), 0.15),
                  rgba(var(--bs-white-rgb), 0)
  );
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-color-inverse: #fff;
  --bs-body-bg: #fff;

  --bs-base-border-radius: 10px;
  

  --swiper-theme-color: var(--bs-primary);

  --mm-line-height: 20px;
  --mm-listitem-size: 44px;
  --mm-navbar-size: 44px;
  --mm-offset-top: 0;
  --mm-offset-right: 0;
  --mm-offset-bottom: 0;
  --mm-offset-left: 0;
  --mm-color-border: rgba(0, 0, 0, 0.1);
  --mm-color-button: rgba(0, 0, 0, 0.3);
  --mm-color-text: rgba(0, 0, 0, 0.75);
  --mm-color-text-dimmed: rgba(0, 0, 0, 0.3);
  --mm-color-background: #f3f3f3;
  --mm-color-background-highlight: rgba(0, 0, 0, 0.05);
  --mm-color-background-emphasis: rgba(var(--bs-white-rgb), 0.4);
  --mm-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

$fa-font-path: "../_fonts/fontawesome/webfonts/";

$white: var(--bs-white);
$black: var(--bs-black);

$primary: var(--bs-primary);
$primary-light: $primary;
$primary-lighter: $primary;
$primary-dark: $primary;
$primary-darker: $primary;

$primary-rgb: var(--bs-primary-rgb);

$secondary: var(--bs-secondary);
$secondary-light: $secondary;
$secondary-lighter: $secondary;
$secondary-dark: $secondary;
$secondary-darker: $secondary;

$secondary-rgb: var(--bs-secondary-rgb);

$font-weight-medium: 500;
$border-radius: var(--bs-base-border-radius);

// Spalten

$left-col--width: 275px;
$right-col--width: 250px;

// Footer

$footer-top-bg: $secondary;
$footer-middle-bg: $primary;
$footer-bottom-bg: $black;

$text-color-inverse: var(--bs-body-color-inverse);
$text-color: var(--bs-body-color);

$body-bg: var(--bs-body-bg);
$body-color: $text-color;
$link-color: $primary;


$font-family-primary: var(--bs-font-primary);
$font-family-secondary: var(--bs-font-secondary);
$font-family-tertiary: var(--bs-font-tertiary);

$font-family-base: $font-family-primary;

$font-weight-semibold: 600;

$fa-font-display: swap;

// Megamenü
$megamenu-width: 960px;
$megamenu-background: rgba(0, 0, 0, 0.85);
$megamenu-overlay-background: rgba(var(--bs-white-rgb), 0.5);
$megamenu-lvl1-color: $text-color-inverse;
$megamenu-lvl2-color: $primary;
$megamenu-lvl3-color: $white;
$megamenu-imageHeight: 125px;

//Abstände
$spacer: 1.5rem;
$spacers: (
        0: 0,
        1: $spacer * 0.25,
        2: $spacer * 0.5,
        3: $spacer * 0.75,
        4: $spacer,
        5: $spacer * 1.25,
        6: $spacer * 1.5,
        7: $spacer * 1.75,
        8: $spacer * 2,
        9: $spacer * 2.25,
        10: $spacer * 2.5,
        11: $spacer * 2.75,
        12: $spacer * 3,
        13: $spacer * 3.25,
        14: $spacer * 3.5,
        15: $spacer * 3.75,
        16: $spacer * 4,
        17: $spacer * 4.25,
        18: $spacer * 4.5,
        19: $spacer * 4.75,
        110: $spacer * 5,
);

$basic-gutter: $spacer * 2;
$headline-spacing: $spacer;
$mini-spacing: $spacer/2;

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px,
);

$grid-gutter-width: 1rem;
$gutters: (
        0: 0,
        1: $grid-gutter-width * 0.25,
        2: $grid-gutter-width * 0.5,
        3: $grid-gutter-width,
        4: $grid-gutter-width * 1.5,
        5: $grid-gutter-width * 3,
);

$modal-sm: 520px;
$modal-md: 760px;
$modal-lg: 940px;
$modal-xl: 1140px;
