@import "../../../_vendor/node_modules/bootstrap/scss/functions";
@import "../../../_vendor/node_modules/bootstrap/scss/variables";
@import "../../../_vendor/node_modules/bootstrap/scss/mixins";

//@import "../../_theme/variables";


.ce_rsce_colorpalettes {

    .colorpalettes-wrapper {
      display: flex;
      flex-flow: column wrap;
      gap: var(--spacer-sm);
    }

    .colorpalettes-desc {
      width: 100%;


      p:has(.btn) {
        display: flex;
        flex-flow: row wrap;

         @include media-breakpoint-down(sm) {
           justify-content: center;
         }
        gap: .5rem;
      }

      .selected-color-element--outer {
        position: relative;


        .selected-color-element--title:empty {
          display: none !important;
        }

        .selected-color--element {
          min-height: rfs-value(300px);

          .image-holder {
            --animate-duration: 350ms;
          }


          > span {
            position: absolute;
            display: block;
            bottom: 0;
            left: 0;
            background-color: rgba(var(--bs-white-rgb), 0.8);
            padding: 0.5rem 0.75rem;
            text-align: center;
            @include font-size(20px);
            width: 100%;
          }
        }
      }

      .color-palette--content {
        height: 100%;

        .color-palette-content--inner {
          min-height: 100%;

          &.with-padding {
            padding: 2rem;
          }
        }
      }

      & + .colorpalettes-gallery {
        .color-list--element {
          cursor: pointer;
        }
      }
    }

    .colorpalettes-gallery {
      width: 100%;

      .color-list--wrapper {
        display: flex;
        flex-flow: row wrap;
        margin-inline:  calc(-1 * var(--spacer-sm)/4);


        @include media-breakpoint-down(sm) {
          justify-content: center;
          margin-block: 1rem;
        }

        .color-list-element--outer {
          padding: 0 calc(var(--spacer-sm)/4);
          margin-bottom: calc(var(--spacer-sm)/2);


          &:not(.wider) {
            width: 33.333%;

            @include media-breakpoint-up(sm) {
              width: 25%;
            }

            @include media-breakpoint-up(md) {
              width: 20%;
            }

            @include media-breakpoint-up(lg) {
              width: 16.66%;
            }

            @include media-breakpoint-up(xl) {
              width: 11.11%;
            }
          }

          &.wider {
            width: 50%;


            @include media-breakpoint-up(sm) {
              width: 33.333%;
            }

            @include media-breakpoint-up(lg) {
              width: 25%;
            }
          }

          .color-list--element {
            .color-list-element--image-holder {
              position: relative;

              &:has(> * + figcaption) {
                figcaption {
                  display: none;
                }
              }

              &:hover {
                img {
                  opacity: .9;
                }
              }

              img {
                object-fit: cover;
                width: 100%;
                height: 100%;
              }

              a {
                pointer-events: none;
              }

              > span, > figcaption {
                position: absolute;
                display: block;
                bottom: 0;
                left: 0;
                background-color: rgba(var(--bs-white-rgb), 0.8);
                padding: 0.35rem 0.5rem;
                text-align: center;
                @include font-size(16px);
                width: 100%;
              }
            }
          }
        }
      }
    }
  }