@import "../../../_vendor/node_modules/bootstrap/scss/functions";
@import "../../../_vendor/node_modules/bootstrap/scss/variables";
@import "../../../_vendor/node_modules/bootstrap/scss/mixins";
@import "../../../_vendor/node_modules/@awesome.me/kit-c9b4e661cb/icons/scss/fontawesome";
@import "../../scss-variables";


html body {
  .ce_rsce_onepagenavi {
       z-index: 50;
    position: relative;
    .ce--onepagenavi {
   


      &.style-1 {
        transition: all 0.3s ease;
        top: 100px;
        z-index: 500;
        position: fixed;
        width: rfs-value(225px);
        margin-left: rfs-value(-235px);

        .onepagenavi--wrapper {
          //padding: .5rem 0 .5rem 0;
          //border: 1px solid var(--bs-body-color-inverse);
        }
      }

      &.style-2 {
        z-index: 8;
        @include media-breakpoint-down(md) {
          transition: all 0.3s ease;
          position: fixed;
          top: var(--bs-onepage-nav--offset);
          width: var(--bs-onepage-nav--width);
          margin-left: calc(-1 * var(--bs-onepage-nav--width));
          background-color: var(--bs-primary);

          ul {
            margin-bottom: 0;

            li {
              padding-left: 1rem;
            }
          }


        }

        @include media-breakpoint-up(md) {


          &.is-scrolling {
            position: fixed;
            width: 100%;
            top: 0;
            left: 0;
          }
        }

        .onepagenavi--wrapper {
          @include media-breakpoint-up(md) {
            .onepagenavi--headline {
              display: none;
            }
          }
        }
      }

      @include media-breakpoint-down(md) {
        right: calc(-1 * var(--bs-onepage-nav--width));
      }


      .onepagenavi--wrapper {
         @include media-breakpoint-down(md) {
              background-color: var(--bs-primary);
         }


        .onepagenavi--headline {
          color: var(--bs-body-color-inverse);
          @include font-size(20px);
          padding: 0.65rem 0;
          border-bottom: 1px solid var(--bs-body-color-inverse);
          display: block;
          text-align: center;
          font-weight: $font-weight-bold;
        }

        ul {
          list-style-type: none;
          padding: 0px;


          > li > a:before {
            //display: none;
            @extend %fa-icon;
            @extend #{$icon-type};
            content: fa-content($fa-var-chevron-right);
            //color: transparent;

            padding-right: 10px;
            @include font-size(18px);
            transition: all 0.3s ease;
          }

          @include media-breakpoint-down(md) {
            &.nav-link-style-2 {
              padding: .75rem 0;

              > li {
                display: block;

                > a {
                  display: flex;
                  align-items: baseline;
                }
              }
            }
          }

          &:not(.nav-link-style-2) {
            padding: .75rem 0;

            > li {
              display: block;

              > a {
                display: flex;
                align-items: baseline;
              }
            }
          }

          &.nav-link-style-1 {

            > li {
              > a {
                &.active,
                &:hover {

                }
              }
            }
          }

          &.nav-link-style-2 {
            > li {
              display: block;

              @include media-breakpoint-up(md) {
                display: inline-block;
                &:not(:last-child) {
                  margin-right: 1.25rem;
                }
              }

              > a {
                display: block;
                text-transform: uppercase;
                font-weight: $font-weight-medium;
                font-size: rfs-value(18px);
                line-height: 1;
                white-space: nowrap;

                @include media-breakpoint-up(md) {
                  border-bottom: 3px solid transparent;
                  padding-top: calc(.5rem + 5px);

                  &:before {
                    display: none;
                  }
                }


                @include media-breakpoint-down(md) {
                  display: flex;
                  align-items: baseline;
                }

                &.active,
                &:hover {
                  color: var(--bs-body-color);
                }
              }
            }
          }


          li {
            a {
              padding: .5rem 0 .5rem 0;
              width: 100%;
              text-decoration: none;
              color: var(--bs-body-color-inverse);


              //&.active,
              &:hover {
                color: var(--bs-body-color) !important;

                &:before {
                  color: var(--bs-body-color) !important;
                }
              }

              span {
                display: block;
              }
            }
          }
        }
      }

      .scrollToTop {
        width: rfs-value(60px);
        height: rfs-value(60px);
        line-height: rfs-value(60px);
        text-align: center;
        background-color: rgba(var(--bs-white-rgb), 0.7);
        color: var(--bs-primary);
        border-radius: 50%;
        display: block;
        margin: 1.5rem auto 0 auto;
        transition: all 0.3s ease;

        cursor: pointer;

        i {
          line-height: rfs-value(60px);
          font-size: 3.5rem;
        }

        &:hover {
          background-color: var(--bs-primary);
          color: var(--bs-body-color-inverse);
        }
      }

      &.visible {
        right: 0;

        .onepage-nav--mobile-toggle {
          i {
            transform: rotate(0deg);
          }
        }
      }

      .onepage-nav--mobile-toggle {
        position: absolute;
        right: 100%;
        top: 0px;
        cursor: pointer;
        transition: all .3s ease-in-out;
        border-top: 1px solid var(--bs-primary);
        border-left: 1px solid var(--bs-primary);
        border-bottom: 1px solid var(--bs-primary);


        span {
          display: block;
          background-color: var(--bs-primary);
          line-height: rfs-value(50px);
          width: rfs-value(50px);
          height: rfs-value(50px);
          text-align: center;
          @include font-size(30px);
          color: var(--bs-body-color-inverse);

          i {
            transform: rotate(180deg);
            line-height: 50px;
          }

        }
      }

    }
  }

  @include media-breakpoint-up(lg) {
    #main.with-onepage-nav .mod_article .content--element:not(.ce_rsce_onepagenavi) .container:not(.force-container),
    #main.with-onepage-nav .mod_article > :not(.content--element):not(.container):not(.force-container) {
      padding-right: rfs-value(300px);
    }
  }
}


