@import "../../../_vendor/node_modules/bootstrap/scss/functions";
@import "../../../_vendor/node_modules/bootstrap/scss/variables";
@import "../../../_vendor/node_modules/bootstrap/scss/mixins";
@import "../../mixins";

.ce_rsce_hero_complex {
  .hero-complex-media-col {
    line-height: 0;

    .main-media-wrapper {

      video, img {
        min-height: var(--image-min-height, auto);
      }

      position: relative;
      overflow: hidden;

      > img,
      > video,
      > figure,
      > .vsm-video-container {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  .box-slider-anchor {
    position: relative;


    .swiper-slide {
      height: auto;
      min-height: 100%;

      .box-slide-inner {
        display: flex;
        flex-flow: column wrap;
        height: 100%;

        .buttons {
          margin-top: auto;
        }
      }
    }


    .ce--headline {
      //padding-right: 2rem;
      @include media-breakpoint-up(sm) {
        //padding-right: 3rem;
      }

      > * {
        //font-size: var(--bs-body-font-size);
      }
    }

    .box-paginator {
      position: absolute;
      right: 1rem;
      top: 1rem;
      font-size: 16px;
      z-index: 2;
      left: auto;
      width: auto;
      bottom: auto;

      @include media-breakpoint-up(md) {
        right: 3rem;
        top: 32px;
      }
    }

    .hero-complex-swiper-nav {
      position: absolute;
      right: 1rem;
      bottom: 1rem;
      z-index: 2;

      @include media-breakpoint-up(md) {
        right: 2rem;
        bottom: 1.25rem;
      }
    }


    .hero-complex-swiper-nav {
      button {
        background-color: transparent;
        padding: 0;
        border: 0;
        color: currentColor;
        font-size: 1.5rem;
        transition: .15s ease-in-out;

        &:hover {
          color: var(--bs-link-hover-color)
        }
      }

      .button-separator {
        content: '';
        height: 45px;
        margin: 0 .5rem;
        width: 1px;
        display: inline-block;
        position: relative;
        top: 10px;
        background-color: transparent;
      }
    }
  }
}

/* Responsive Anpassung für mobile Ansicht */
@include media-breakpoint-up(lg) {
  .ce_rsce_hero_complex {
    .hero-complex-media-col .main-media-wrapper {
      video, img {
        min-height: var(--image-mobile-min-height, auto);
      }
    }
  }
}