.widget {
  &:has(
    input[name*="topline"], input[name*="text"],
    input[name*="headline"],input[name*="firstline"],
    input[name*="subline"], input[name*="secondline"],
      *[name*="link_"]
  ) {
    input:not([name*="color"], [name*="background"]), select:not([name*="color"], [name*="background"]) {
      &:not([type="checkbox"], [type="radio"]) {
        background-color: #cbffcb;
        outline: 1px solid green;
        color: black;

        &:focus {
          background-color: white;
        }
      }
    }
  }
}


.rsce_list_inner > .rsce_list_item {
  max-height: 28px;
  overflow: hidden;

  h2.rsce_list_item_title {
    cursor: pointer;
  }

  &.active {
    max-height: none;
  }
}

.rsce_group:not(.rsce_group_no_legend), .rsce_list{
  display: block;
  &:not(.changed){
    display: none;
  }
}