@import "basket";
@import "basket-mini";
@import "basket-offcanvas";

@import "checkout-address";
@import "checkout-overview";
@import "checkout-shipping_payment";
@import "checkout-steps";

@import "product-box";
@import "product-detail";
@import "product-list";
@import "product-filter";

@import "messages";

&.theme-shop {
  #container {
    background-color: var(--bs-gray-200);
  }
}

div[class^="mod_iso_"] {
  .form-check {
    padding: 1rem;
    background-color: var(--bs-gray-100);

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    .form-check-input {
      margin-left: 0px;
      margin-right: 0.5rem;
    }
  }

  .widget-submit {
    margin-top: 2rem;
  }

  .submit_container {
    margin-top: 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    input.button {
      @extend .btn;
      @extend .btn-lg;

      &.next {
        @extend .btn-primary;
      }

      &.previous {
        @extend .btn-outline-primary;
      }

      &.confirm {
        @extend .btn-success;
      }
    }
  }
}
