// Cart
#cart,
.mod_iso_checkout .orderproducts,
.mod_iso_orderdetails {
  .collection {
    font-weight: lighter;
    position: relative;
    @include font-size(16px);
    margin-bottom: $basic-gutter;

    @include media-breakpoint-up(lg) {
      @include font-size(22px);
    }

    .product {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      //margin: 0 -#{$gutter-default/2};
      padding: $basic-gutter/2 0;
      border-top: 1px $primary solid;


      &.row_first {
        border-top: none;
        //padding-top: 0px;
      }

      > * {
        flex: 1;
        margin: 0 $basic-gutter/4;

        @include media-breakpoint-up(lg) {
          margin: 0 $basic-gutter/2;
        }
      }

      ul {
        list-style-type: none;
        padding: 0px;
        margin: 0px;

        li.attribute {
          &:not(:last-child) {
            margin-bottom: 10px;
          }
        }
      }

      .image {
        flex: auto;
        width: 25%;
        text-align: center;

        @include media-breakpoint-down(lg) {
          margin: 0px 0px 1.25rem 0;
        }

        @include media-breakpoint-up(lg) {
          flex: 0 0 75px;
          width: auto;
        }

        figure {
          margin-bottom: 0px;
        }
      }

      .name {
        align-self: center;
        flex: auto;
        width: 75%;
        text-align: center;

        @include media-breakpoint-down(lg) {
          margin: 0px 0px 1.25rem 0;
          padding-left: 1.5rem;
        }

        @include media-breakpoint-up(lg) {
          width: auto;
          flex-grow: 4;
        }

        a {
          text-decoration: none;
          font-weight: $font-weight-bold;
          @include font-size(18px);
        }

        ul {
          @include font-size(14px);
          margin-bottom: 0px;
        }
      }

      .quantity {
        label {
          @include font-size(12px);
          text-align: center;
        }

        input {
          @include font-size(15px);
          width: 40px;
          height: 35px;
          text-align: center;
        }

        flex: 0 0 3em;
      }

      .actions {
        text-align: right;
      }

      .remove {
        display: inline-block;
        color: $primary;
        text-align: right;
        text-decoration: none;

        &:before {
          @extend %fa-icon;
          @extend .fas;
          content: fa-content($fa-var-trash-alt);
          display: block;
        }
      }
    }

    .price {
      text-align: right;
    }

    .summary {
      display: flex;
      align-items: flex-start;
      background-color: var(--bs-gray-100);
      //margin: 0 -#{$gutter-default/2};

      &.foot_0 {
        padding-top: $basic-gutter/2;
        border-top: 2px $primary solid;
      }

      &.total {
        font-weight: 700;
        padding-bottom: 1rem;
        padding-top: 1rem;
      }

      > * {
        flex: 1;
        margin: 0 $basic-gutter/4;

        @include media-breakpoint-up(lg) {
          margin: 0 $basic-gutter/2;
        }
      }

      .col_0 {
        flex: 0 0 75px;

        @include media-breakpoint-down(lg) {
          display: none;
        }
      }

      .col_last.remove {
        margin-left: 0rem;


        @include media-breakpoint-up(lg) {
          margin-right: .75rem;
        }

        @include media-breakpoint-up(xl) {
          margin-right: 1.5rem;
        }

        @include media-breakpoint-down(lg) {
          display: none;
        }
      }

      .name {
        flex: 4 1 3em;
        margin-left: 1rem;
        text-align: right;

        @include media-breakpoint-up(lg) {
          margin-left: $basic-gutter * 1.5;
        }
      }
    }
  }

  .submit_container {
    display: flex;
    align-items: center;

    button {
      &.button_update {
        @extend .btn;
        @extend .btn.btn-outline-primary;
        margin-right: auto;
      }

      &.button_checkout {
        @extend .btn;
        @extend .btn.btn-outline-primary;
        margin-left: auto;
      }
    }

    @include media-breakpoint-down(lg) {
      flex-direction: column;
      align-items: center;

      button {
        margin: 5px 0 0 !important;
        width: 100%;
        max-width: 350px;
      }
    }
  }
}
