#offCanvasBasket {


  .offcanvas--basket-list {
    .product--list {
      .product {
        margin-bottom: 2rem;
        padding-bottom: 2rem;
        border-bottom: 2px solid var(--bs-primary);

        figure {
          margin-bottom: 0px;
        }

        .name {
          font-weight: var(--bs-font-weight-700);
        }

        .info {
          margin-top: .5rem;

          ul {
            display: inline-block;
            list-style-type: none;
            padding: .5rem;
            margin: 0 0 .5rem 0;
            background-color: var(--bs-gray-100);
          }
        }

        .price {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          align-items: center;
        }
      }
    }

    .subtotal {
      font-weight: var(--bs-font-weight-700);
      text-transform: uppercase;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;

      .price {
        font-size: rfs-value(24px);
        font-weight: var(--bs-font-weight-700);
      }

      & + .row {
        display: block;
        margin-top: 2rem !important;
      }
    }
  }
}