#iso_mod_checkout_payment, #iso_mod_checkout_shipping {
  .widget-radio {
    span.note {
      @extend .alert, .bg-primary;
      display: block;
      margin-top: .75rem;
      padding: .35rem .75rem;
      color: $text-color-inverse;
      @include font-size(14px);
    }
  }
}