#iso_mod_checkout_review {


  .orderproducts {
    .boxed {
      text-align: right;

      a {
        text-decoration: none;
        font-weight: $font-weight-bold;
        @include font-size(14px);

        i {
          margin-left: 5px;
        }
      }
    }


  }
}

.orderinfo, .mod_iso_orderdetails {

  @include media-breakpoint-up(md) {
    display: flex;
    flex-flow: row wrap;
    margin-left: -1rem;
    margin-right: -1rem;

    > * {
      padding-right: 1rem;
      padding-left: 1rem;
    }
  }

  .clear {
    display: none;
  }

  h2, p, .order_status, .collection {
    width: 100%;
  }

  .order_status {
    margin: 1rem 0 2rem 0;
    font-weight: $font-weight-bold;
    @include font-size(20px);

  }

  p {
    margin-bottom: 2rem;
  }

  @include media-breakpoint-up(md) {
    .info_container {
      width: 50%;
      position: relative;
    }
  }


  a.edit {
    position: absolute;
    right: 1rem;
    top: 0;
    color: transparent;
    font-size: 0px;

    &:after {
      @extend %fa-icon;
      @extend .fas;
      content: fa-content($fa-var-pen);
      font-size: 1rem;
      color: $primary;
    }
  }

  h3 {
    color: $body-color;
    @include font-size(16px);
    font-weight: $font-weight-bold;
    padding-right: 1rem;

    & + .info {
      background-color: $gray-100;
      @include font-size(14px);
      padding: 1rem;
    }
  }

  .info {
    margin-bottom: 2rem;
  }
}