@font-face {
    font-family: 'manufaktur-black';
    src:url('../_fonts/manufaktur-black/manufaktur-black.woff') format('woff'),
    url('../_fonts/manufaktur-black/manufaktur-black.woff2') format('woff2'),
        url('../_fonts/manufaktur-black/manufaktur-black.eot'),
        url('../_fonts/manufaktur-black/manufaktur-black.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}