{% extends "@Contao/content_element/player.html.twig" %}

{% block media %}
    {# Lazy-loading f端r Video-Tag hinzuf端gen #}
    {% set parentBlock = parent() %}
    {% set lazyVideoTag = parentBlock|replace({
        '<video': '<video class="lazy"',
        ' src=': ' data-src='
    }) %}
    <div class="video-wrapper">
        {{ lazyVideoTag|raw }}
    </div>

    {# Metadaten und Quelldatei initialisieren #}
    {% set meta = null %}
    {% set sourceFile = null %}
    {% set currentLanguage = app.request.locale %}

    {# Suche nach dem ersten Video mit g端ltigen Metadaten #}
    {% for i in 0..2 %}
        {% if meta is null and source_files[i] is defined %}
            {% set currentFile = source_files[i] %}
            {% if currentFile.extraMetadata is defined and currentFile.extraMetadata.metadata is defined %}
                {% set metadataBag = currentFile.extraMetadata.metadata %}

                {# Versuche, Metadaten f端r die aktuelle Sprache zu erhalten #}
                {% if metadataBag.getForLanguage is defined %}
                    {% set potentialMeta = metadataBag.getForLanguage(currentLanguage) %}
                {% elseif metadataBag.get is defined %}
                    {% set potentialMeta = metadataBag.get(currentLanguage) %}
                {% endif %}

                {% if potentialMeta is defined and potentialMeta is not null %}
                    {% set meta = potentialMeta %}
                    {% set sourceFile = currentFile %}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endblock %}