html body .footer--content.type--1 .fc--bottom #footerNav ul > li > a,
html body .footer--content.type--1 .fc--bottom #footerNav ul > li > strong,
html body .footer--content.type--1 .fc--bottom{
  color: $white;
  //font-weight: $font-weight-bold;
}


html body .header--content.type--1 .hc--bottom{
  height: 112px;
}

html body .header--content.type--1 .hc--bottom .hc-bottom--inside .row .hc-bottom--left-col img, html body
.header--content.type--1 .hc--bottom .hc-bottom--inside .text--wrapper.with-image .hc-bottom--left-col img{
  max-height: 250px;
}

html body .header--content.type--1 .hc--bottom .hc-bottom--inside .row,
html body .header--content.type--1 .hc--bottom .hc-bottom--inside .text--wrapper.with-image{
  align-items: initial !important;
}

html body .header--content.type--1 .hc--bottom:not(.is--scrolling) .hc-bottom--inside .row .hc-bottom--right-col,
html body .header--content.type--1 .hc--bottom:not(.is--scrolling) .hc-bottom--inside .text--wrapper.with-image .hc-bottom--right-col{
  margin-top: 1rem;
}

html body .footer--content.type--1 .fc--top{
  color: $text-color;
}

html body .footer--content.type--1 .fc--top .social--list ul a{
  color: $text-color;
}

html body .footer--content.type--1{
  border-top: 0px;
}

.btn-primary, .btn-primary:hover html body .layout_full + p.back a{
  color: $white;
}



html body .ce_rsce_headimagelogo .ce--mainimage .mainimage--content .mainimage--content-inner{
  background-color: rgba(255,255,255,.65);
  padding: 1rem 1.5rem;
  max-width: 600px;
  border-radius: $border-radius;
}

html body .ce_rsce_headimagelogo .ce--mainimage{
  margin-top: -112px;
}

html body .ce_rsce_headimagelogo .ce--mainimage:not(.not-fullHeight) .image--holder{
  min-height: calc(-40px + 100vh) !important;
}