$blue:    #025577;
$red:     #73160E;

$primary: $blue;
$primary-light: #c9d9e0;
$primary-lighter: #d3e3ea;

$info: $primary-light;

$secondary: $red;

$footer-top-bg: $primary;
$footer-middle-bg: $primary;
$footer-bottom-bg: $primary;

$font-family-base: 'FreightSans Pro', sans-serif;
$font-family-sans-serif: 'FreightSans Pro', sans-serif;

$grid-gutter-width: 2rem;