{% extends "@Contao/content_element/player.html.twig" %}

{% block media %}
    {# Lazy-loading für Video-Tag hinzufügen #}
    {% set parentBlock = parent() %}
    {% set lazyVideoTag = parentBlock|replace({
        '<video': '<video class="lazy"',
        ' src=': ' data-src=',
        ' poster=': ' data-poster='
    }) %}
    <div class="video-wrapper">
        {{ lazyVideoTag|raw }}
    </div>
{% endblock %}