.ce_downloads {
  ul {
    list-style-type: none;
    padding: 0px;
    //justify-content: center;
    //align-items: center;

    > li {
      margin-bottom: 1.5rem;
      text-align: center;


      &:hover a {
        color: var(--bs-tertiary);
      }

      figure {
        img {
          border: 1px solid var(--bs-gray-400);
        }

        & + a {
          text-decoration: none;
          color: var(--bs-body-color);
          margin: 0 auto;
          white-space: nowrap;
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;


          span.size {
            display: none;
          }

          &:before {
            @extend %fa-icon;
            //@extend #{$icon-type} !optional;
            font: var(--fa-font-sharp-solid);
            content: "\f019";
            padding-right: rfs-value(5px);

          }
        }
      }
    }
  }
}
