.mod_breadcrumb {
  margin-top: .25rem;

  ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    text-transform: uppercase;
    @include font-size(16px);

    li {
      display: inline-block;
      color: var(--bs-secondary);

      &:not(:last-child) {
        &:after {
          @extend %fa-icon;
          @extend #{$icon-type} !optional;
          content: "\f105";
          display: inline-block;
          color: var(--bs-primary);
          margin: 0 5px 0px 8px;
        }
      }

      > a {
        display: inline-block;
        text-decoration: none;
        color: var(--bs-primary);

        &:hover {
          text-decoration: underline;
        }
      }

    }
  }
}