@font-face {
    font-family: 'TheSans';
    src: url('../_fonts/thesans/TheSansBW2XtraLt.OTF');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'TheSans';
    src: url('../_fonts/thesans/TheSansBW2XtraLtIt.OTF');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'TheSans';
    src: url('../_fonts/thesans/TheSansBW3Light.OTF');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TheSans';
    src: url('../_fonts/thesans/TheSansBW3LtIt.OTF');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'TheSans';
    src: url('../_fonts/thesans/TheSansBW4SmLt.OTF');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TheSans';
    src: url('../_fonts/thesans/TheSansBW4SmLtIt.OTF');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'TheSans';
    src: url('../_fonts/thesans/TheSansBW5Plain.OTF');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TheSans';
    src: url('../_fonts/thesans/TheSansBW5PlainIt.OTF');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'TheSans';
    src: url('../_fonts/thesans/TheSansBW6SmBd.OTF');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'TheSans';
    src: url('../_fonts/thesans/TheSansBW6SmBdIt.OTF');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'TheSans';
    src: url('../_fonts/thesans/TheSansBW7Bold.OTF');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'TheSans';
    src: url('../_fonts/thesans/TheSansBW7BoldIt.OTF');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'TheSans';
    src: url('../_fonts/thesans/TheSansBW8XtraBd.OTF');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'TheSans';
    src: url('../_fonts/thesans/TheSansBW8XtraBdIt.OTF');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'TheSans';
    src: url('../_fonts/thesans/TheSansBW9Black.OTF');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'TheSans';
    src: url('../_fonts/thesans/TheSansBW9BlackIt.OTF');
    font-weight: 900;
    font-style: italic;
}
