@font-face {
    font-family: 'Mailart-Rubberstamp';
    src:url('../_fonts/mailart_rubberstamp/Mailart-Rubberstamp.ttf.woff') format('woff'),
        url('../_fonts/mailart_rubberstamp/Mailart-Rubberstamp.ttf.svg#Mailart-Rubberstamp') format('svg'),
        url('../_fonts/mailart_rubberstamp/Mailart-Rubberstamp.ttf.eot'),
        url('../_fonts/mailart_rubberstamp/Mailart-Rubberstamp.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}