/*
.ce_accordion {
  margin-bottom: 1rem;

  .toggler {
    background-color: var(--bs-gray-200);
    padding: 1.5rem 2.5rem;
    text-align: center;
    cursor: pointer;
    @include font-size(28px);
    position: relative;

    > span.ui-icon {
      position: absolute;
      right: 1rem;
      top: 50%;
      margin-top: -15px;
      line-height: 1;
      display: inline-block;
      transition: all .3s ease;

      &:after {
        @extend %fa-icon;
        @extend #{$icon-type};
        content: fa-content($fa-var-chevron-up);
        @include font-size(20px);
      }
    }

    &.ui-state-active {
      > span.ui-icon {
        transform: rotate(180deg);
      }
    }


  }

  .accordion {
    background-color: var(--bs-gray-200);

    > div {
      padding: 0rem 1.5rem 1.5rem 1.5rem;
    }
  }

  &:nth-child(even) {
    .toggler {
      background-color: $gray-100;
    }

    .accordion {
      background-color: $gray-100;
    }
  }
}
 */

.accordion {
  // Akkordeon

  --bs-accordion-bg: transparent;
  --bs-accordion-active-bg: var(--bs-accordion-bg);
  --bs-accordion-btn-padding-x: 0;
  --bs-accordion-btn-padding-y: 5px;
  --bs-accordion-border-width: 0px;
  --bs-accordion-body-padding-x: 0;
  --bs-accordion-body-padding-y: 1rem;
  --bs-accordion-color: var(--bs-body-color);
  --bs-accordion-active-color: var(--bs-secondary);
  --bs-accordion-btn-focus-box-shadow: none;

  .accordion-item {

    .accordion-header {
      --bs-accordion-btn-icon: var(--bs-accordion-btn-icon);
      --bs-accordion-btn-active-icon: var(--bs-accordion-btn-active-icon);
      border-bottom: 1px solid var(--bs-accordion-color);

      &:after {
        display: none !important;
      }


      .accordion-button {
        font-size: rfs-value(32px);
        font-weight: $font-weight-bold;

        &:after {
          background-image: none;
          background-color: var(--bs-primary);
          --bs-accordion-btn-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3C!--! Font Awesome Pro 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --%3E%3Cpath d='M256 80V48H192V80 224H48 16v64H48 192V432v32h64V432 288H400h32V224H400 256V80z'/%3E%3C/svg%3E");
          mask-image: var(--bs-accordion-btn-icon);
          mask-repeat: no-repeat;
          mask-size: var(--bs-accordion-btn-icon-width);

          -webkit-mask-image: var(--bs-accordion-btn-icon);
          -webkit-mask-repeat: no-repeat;
          -webkit-mask-size: var(--bs-accordion-btn-icon-width);
        }

        &:not(.collapsed):after {
          background-color: var(--bs-accordion-active-color);
          --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3C!--! Font Awesome Pro 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --%3E%3Cpath d='M432 288H400L48 288H16l0-64 32 0 352 0 32 0v64z'/%3E%3C/svg%3E");
          -webkit-mask-image: var(--bs-accordion-btn-active-icon);
          mask-image: var(--bs-accordion-btn-active-icon);
        }
      }

    }

    .accordion-body {
      border-bottom: 1px solid var(--bs-body-color);
    }
  }
}

