.alert {
  --bs-alert-bg: transparent;
  --bs-alert-padding-x: 1.25rem;
  --bs-alert-padding-y: .75rem;
  --bs-alert-margin-top: 1rem;
  --bs-alert-margin-bottom: 1rem;
  --bs-alert-color: inherit;
  --bs-alert-border-color: transparent;
  --bs-alert-border: 1px solid var(--bs-alert-border-color);
  --bs-alert-border-radius: 0.375rem;

  margin-top: var(--bs-alert-margin-top);
  margin-bottom:  var(--bs-alert-margin-bottom);


  &.alert-primary {
    --bs-alert-bg: rgb(var(--bs-primary-rgb));
    --bs-alert-color: var(--bs-body-color-inverse);
  }

  &.alert-secondary {
    --bs-alert-bg: rgb(var(--bs-secondary-rgb));
    --bs-alert-color: var(--bs-body-color-inverse);
  }

  &.alert-info {
    --bs-alert-bg: var(--bs-info);
    --bs-alert-color: var(--bs-blue);
  }

  &.alert-warning {
    --bs-alert-bg: var(--bs-warning);
    --bs-alert-color: var(--bs-orange);
  }

  &.alert-danger {
    --bs-alert-bg: var(--bs-danger);
    --bs-alert-color: var(--bs-red);
  }

  &.alert-success {
    --bs-alert-bg: var(--bs-success);
    --bs-alert-color: var(--bs-green);
  }

  &.alert-light {
    --bs-alert-bg: var(--bs-light);
    --bs-alert-color: var(--bs-body-color);
  }

  &.alert-dark {
    --bs-alert-bg: var(--bs-dark);
    --bs-alert-color: var(--bs-body-color-inverse);
  }
}


.message {
  &.success {

  }

  &.empty {
    //color: var(--bs-body-color-inverse);
  }

  &.error {
    //color: var(--bs-body-color-inverse);
  }
}