.ce_gallery {
  ul {
    padding: 0px;
    margin: 0px -.5rem;
    list-style-type: none;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;


    &.cols_4 {
      > li {
        margin-top: 1rem;
        padding-left: .5rem;
        padding-right: .5rem;
        @include media-breakpoint-up(lg) {
          width: 25%;
        }

        figure{
          margin-bottom: 0px;
        }
      }
    }

  }
}