/*
.content--element,
.mod_article > div:not(.row) > *[class^='ce_'],
.mod_article > div:not(.row) > *[class^='mod_'],
.mod_article > div.container > *[class^='ce_'],
.mod_article > div.container > *[class^='mod_'],
.mod_article > div.row,
.mod_article > .ce_headline {
  @include margin-top($basic-gutter);

  &:not(:last-child) {
    @include margin-bottom($basic-gutter);
  }

  position: relative;
  z-index: 10;
}
 */

[class*="bg-"]:not(.alert):not(.ce_rsce_twocolimagewall):not(.ce_rsce_fullwidthgallery) {
  padding: $basic-gutter 0px;

  @include media-breakpoint-down(md) {
    padding-left: 0rem;
    padding-right: 0rem;
  }

  > *:last-child {
    margin-bottom: 0px !important;
  }

  .content--element:first-child .row-mid-content {
    @include media-breakpoint-down(md) {
      padding-top: 0px;
    }
  }
}

.mod_article {
  &[class*="bg-"] {
    //padding-top: 0px;
  }
}

/*
.mod_article > div > *[class^='ce_'] {
  &.ce_headline {
    margin-bottom: $headline-spacing;

    & + * {
      margin-top: 0px !important;
    }
  }
}
 */

.mod_article .ce_headline + div {
  margin-top: 0px;
}

.content--element {
  position: relative;

  &.content--box {
    z-index: 10;
    padding: 2rem;
  }

  &.border-top {
    padding-top: $basic-gutter;
    margin-top: $basic-gutter;
  }

  &.border-bottom {
    padding-bottom: $basic-gutter;
    margin-bottom: $basic-gutter;
  }
}

.content--box {
  @include content-box();
}

.ce_text {
  figure.float_above {
    text-align: center;
  }
}

.progress {
  background-color: var(--bs-gray-100);
}

.social--list {
  .social-list--label {
    display: none;
    margin: 0px;
    vertical-align: middle;
    line-height: 1.3;
  }

  ul {
    margin: rfs-value(0px 0px 0px 20px);
    vertical-align: middle;
  }
}

.stoerer--social-media {
  background-color: $body-bg;
  padding: rfs-value(5px);
  box-shadow: $box-shadow;
  position: fixed;
  right: 0;
  top: 40vh;
  z-index: 20;

  ul.list-inline {
    margin: 0px;

    > li.list-inline-item {
      display: block;
      margin-right: 0px;
      margin-top: rfs-value(2px);

      > a {
        font-size: 1.75rem;
        line-height: 1;
        display: block;
        text-align: center;

        &:hover {
          color: $body-color;
        }
      }

      &:not(:last-child) {
        margin-bottom: rfs-value(5px);
      }
    }
  }
}

&.start {
  .mod_pageimage {
    .page-image--holder {
      min-height: 75vh;
      @include media-breakpoint-up(md) {
        background-attachment: fixed;
      }
    }
  }
}

&:not(.start) {
  .mod_pageimage {
    .page-image--holder {
      min-height: rfs-value(275px);
      margin-bottom: 2rem;
    }
  }
}

.alert {
  padding: 0.75rem 1.25rem;
  margin: 2rem 0px;
}

.tl_confirm {
  @extend .alert, .bg-success;
}

.message {
  //@extend .alert;

  &.success {
    //@extend .bg-success;
  }

  &.empty {
    //@extend .bg-primary;
    color: $text-color-inverse;
  }

  &.error {
    //@extend .bg-danger;
    color: $text-color-inverse;
  }
}

.text--wrapper {
  min-height: 100%;

  &.with-image {
    @extend .row;

    &.image-right {
      flex-flow: row-reverse;

      .image {
        @extend .col-lg-6;

        @include media-breakpoint-down(md) {
          margin-top: 1rem;
        }
      }

      .text {
        @extend .col-lg-6;

        @include media-breakpoint-up(md) {
          @include padding-right(35px);
        }
      }
    }

    &.image-left {
      .image {
        @extend .col-lg-6;

        @include media-breakpoint-down(md) {
          margin-top: 1rem;
        }
      }

      .text {
        @extend .col-lg-6;

        @include media-breakpoint-up(md) {
          @include padding-left(35px);
        }
      }
    }
  }
}

.BodyScrollToTop {
  width: rfs-value(60px);
  height: rfs-value(60px);
  line-height: rfs-value(55px);
  text-align: center;
  color: var(--bs-white);
  border: 2px solid var(--bs-secondary);
  background-color: var(--bs-secondary);
  border-radius: 50%;
  margin: 1.5rem auto 0 auto;
  transition: all 0.3s ease;
  @include font-size(45px);
  cursor: pointer;
  bottom: 100px;
  right: 50px;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  box-shadow: $box-shadow;
  z-index: 5;

  &.visible {
    opacity: 1;
    visibility: visible;
  }

  i {
    line-height: rfs-value(56px);
  }

  &:hover {
    color: var(--bs-secondary);
    background-color: var(--bs-white);
  }
}

.video_container {
  position: relative;
  padding-bottom: 56.25%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
