/*
.content--element,
.mod_article > div:not(.row) > *[class^='ce_'],
.mod_article > div:not(.row) > *[class^='mod_'],
.mod_article > div.container > *[class^='ce_'],
.mod_article > div.container > *[class^='mod_'],
.mod_article > div.row,
.mod_article > .ce_headline {
  @include margin-top($basic-gutter);

  &:not(:last-child) {
    @include margin-bottom($basic-gutter);
  }

  position: relative;
  z-index: 10;
}
 */

[class*="bg-"]:not(.alert):not(.ce_rsce_twocolimagewall) {
  @include padding($basic-gutter);
}

.mod_article {
  &[class*="bg-"] {
    padding-top: 0px;
  }
}

/*
.mod_article > div > *[class^='ce_'] {
  &.ce_headline {
    margin-bottom: $headline-spacing;

    & + * {
      margin-top: 0px !important;
    }
  }
}
 */

.mod_article .ce_headline + div {
  margin-top: 0px;
}

.content--element {
  position: relative;

  &.content--box {
    z-index: 10;
    padding: 2rem;
  }

  &.border-top {
    padding-top: $basic-gutter;
  }

  &.border-bottom {
    padding-bottom: $basic-gutter;
  }
}

.content--box {
  border-radius: $border-radius;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: rfs-value($basic-gutter/2);
  position: relative;
  z-index: 5;
  background-color: $body-bg;

  @include media-breakpoint-up(md) {
    padding: rfs-value($basic-gutter);
  }

  .ce_text {
    margin-top: 0px;
  }
}

.progress {
  background-color: var(--bs-gray-100);
}

.social--list {
  .social-list--label {
    display: none;
    margin: 0px;
    vertical-align: middle;
    line-height: 1.3;
  }

  ul {
    margin: rfs-value(0px 0px 0px 20px);
    vertical-align: middle;
  }
}

.stoerer--social-media {
  background-color: $body-bg;
  padding: rfs-value(5px);
  box-shadow: $box-shadow;
  position: fixed;
  right: 0;
  top: 40vh;
  z-index: 20;

  ul.list-inline {
    margin: 0px;

    > li.list-inline-item {
      display: block;
      margin-right: 0px;
      margin-top: rfs-value(2px);

      > a {
        font-size: 1.75rem;
        line-height: 1;
        display: block;
        text-align: center;

        &:hover {
          color: $body-color;
        }
      }

      &:not(:last-child) {
        margin-bottom: rfs-value(5px);
      }
    }
  }
}

&.start {
  .mod_pageimage {
    .page-image--holder {
      min-height: 75vh;
      @include media-breakpoint-up(md) {
        background-attachment: fixed;
      }
    }
  }
}

&:not(.start) {
  .mod_pageimage {
    .page-image--holder {
      min-height: rfs-value(275px);
    }
  }
}

.alert {
  padding: 0.75rem 1.25rem;
  margin: 2rem 0px;
}

.tl_confirm {
  @extend .alert, .bg-success;
}

.message {
  @extend .alert;

  &.success {
    @extend .bg-success;
  }

  &.empty {
    @extend .bg-primary;
    color: $text-color-inverse;
  }

  &.error {
    @extend .bg-danger;
    color: $text-color-inverse;
  }
}

.text--wrapper {
  min-height: 100%;

  &.with-image {
    @extend .row;

    &.image-right {
      flex-flow: row-reverse;

      .image {
        @extend .col-lg-6;

        @include media-breakpoint-down(md) {
          margin-top: 1rem;
        }
      }

      .text {
        @extend .col-lg-6;

        @include media-breakpoint-up(md) {
          @include padding-right(35px);
        }
      }
    }

    &.image-left {
      .image {
        @extend .col-lg-6;

        @include media-breakpoint-down(md) {
          margin-top: 1rem;
        }
      }

      .text {
        @extend .col-lg-6;

        @include media-breakpoint-up(md) {
          @include padding-left(35px);
        }
      }
    }
  }
}

@import "custom-elements/ce_rsce_2colscontent";
@import "custom-elements/ce_rsce_actionmodal";
@import "custom-elements/ce_rsce_advantages";
@import "custom-elements/ce_rsce_boxenfeld";
@import "custom-elements/ce_rsce_boxtitlesubtitle";
@import "custom-elements/ce_rsce_bubblelist";
@import "custom-elements/ce_rsce_coloredrows";
@import "custom-elements/ce_rsce_equalboxesrows";
@import "custom-elements/ce_rsce_extendedimagecolumns";
@import "custom-elements/ce_rsce_fullwidthstoerer";
@import "custom-elements/ce_rsce_headimagelogo";
@import "custom-elements/ce_rsce_headline";
@import "custom-elements/ce_rsce_imageandtext";
@import "custom-elements/ce_rsce_kachelfeld";
@import "custom-elements/ce_rsce_linkboxen";
@import "custom-elements/ce_rsce_mitarbeiter";
@import "custom-elements/ce_rsce_numberboxes";
@import "custom-elements/ce_rsce_slider";
@import "custom-elements/ce_rsce_specialimagetext";
@import "custom-elements/ce_rsce_teaserstripe";
@import "custom-elements/ce_rsce_timeline";
@import "custom-elements/ce_rsce_twocolimagewall";
@import "custom-elements/ce_rsce_videoslider";
@import "custom-elements/ce_rsce_switchingcards";
@import "custom-elements/ce_rsce_sitemap";
@import "custom-elements/ce_rsce_colorpalettes";
@import "custom-elements/ce_rsce_fullwidthgallery";
@import "custom-elements/ce_rsce_onepagenavi";
