.fixed-stoerer--base {
  background-color: var(--bs-fixed-stoerer--bg);
  box-shadow: var(--bs-fixed-stoerer--box-shadow);
  right: var(--bs-fixed-stoerer--right);
  top: var(--bs-fixed-stoerer--top);
  border-radius: var(--bs-fixed-stoerer--border-radius);
  position: fixed;
  z-index: 20;

  ul.list-inline {
    margin: 0px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;

    > li.list-inline-item {
      display: block;
      margin-right: 0px;
      margin-top:  0px;

      &:not(:last-child) > a {
        padding-bottom: 0px;
      }


      > a {
        font-size: var(--bs-fixed-stoerer--font-size);
        line-height: 1;
        display: flex;
        text-align: center;
        text-decoration: none;
        color: var(--bs-fixed-stoerer--color);
        transition: all .3s ease;
        padding: var(--bs-fixed-stoerer--padding);


        &:hover {
          opacity: .8;
        }
      }
    }
  }
}


.stoerer-button--list {
  .list--label {
    display: none;
    margin: 0px;
    vertical-align: middle;
    line-height: var(--bs-body-line-height);
  }

  ul {
    margin: rfs-value(0px 0px 0px 20px);
    vertical-align: middle;
  }
}