.form-summary {
  div {
    display: inline-block;

    &.label {
      display: none;
    }

    &:not(:last-child) {
      &:after {
        content: "|";
        display: inline-block;
        margin-left: 5px;
      }
    }
  }
}


