.mod_navigation li.mm_container:hover > a::after,
.mod_navigation li.mm_container:hover > span::after {
  display: none;
}

#header .header--content.type--1 {
  #mainNav .mm_dropdown {
    margin-top: -2px;

    &:before {
      top: -50vh;
    }
  }
}

#header .header--content.type--3 {
  #mainNav .mm_dropdown:before {
    //margin-top: 91px;
  }
}

.mod_navigation li.mm_container {
  &.active a {
    & + .mm_dropdown {
      opacity: 1;
      width: 100%;
      height: auto;
      overflow: visible;
    }
  }

  .mm_dropdown {
    max-width: rfs-value($megamenu-width);
    text-align: left;
    left: auto;
    right: 50%;
    transform: translate(50%, 0%);
    display: block !important;
    opacity: 0;
    transition: opacity 0.3s ease;
    height: 0;
    overflow: hidden;
    width: 0;

    &:before {
      content: "";
      position: fixed;
      z-index: 4900;
      background-color: $megamenu-overlay-background;
      width: 200vw;
      height: 200vh;
      left: -50vw;
      right: -50vw;
      top: 0;
    }

    .inner {
      position: relative;
      z-index: 4901;
      padding: 0px;
      border: 0px;
      background-color: $megamenu-background;
      box-shadow: $box-shadow;
    }
  }
}

.header--content {
  &.type--1 {
    .mm_dropdown {
      border-top: rfs-value(40px) solid transparent;

      &:before {
        height: 200vw;
        top: -50vw;
      }
    }
  }
}
