
.mm-menu {
  //opacity: 0;
  z-index: 21 !important;

  &.mm-menu_theme-white {
    --mm-line-height: inherit;
    --mm-listitem-size: inherit;
    --mm-navbar-size: inherit;
    --mm-color-border: inherit;
    --mm-color-button: inherit;
    --mm-color-text: inherit;
    --mm-color-text-dimmed: inherit;
    --mm-color-text-highlighted: inherit;
    --mm-color-background: inherit;
    --mm-color-background-highlight: inherit;
    --mm-color-background-emphasis: inherit;
    --mm-shadow: inherit;
  }

  a.btn {

  }

  &.mm-menu_opened {
    opacity: 1;
  }

  &.mod_mmenuHtml {
    .mm-navbar {
      display: none;
    }

    &.mm-menu_position-top {
      height: auto;
      min-height: 0px;
      max-height: none;
      bottom: auto;
      padding: 1rem 0;

      @include media-breakpoint-up(lg) {
        padding: 2rem 0;
      }

      .mm-panels {
        > .mm-panel {
          position: relative;

          &:after {
            display: none;
          }
        }
      }
    }

    &:not(.mm-menu_position-top) {
      padding: 1rem;

      @include media-breakpoint-up(lg) {
        padding: 2rem;
      }
    }
  }

  &:not(.mod_mmenuHtml) {
    .mm-panels {
      > .mm-panel:first-child {
        .mm-navbar__title {
          span {
            display: none;
          }

          &:after {
            content: "";
            width: 100%;
            height: 100px;
            background: var(--mm-color-background) var(--mm-logo) center center no-repeat;
            background-size: contain;
            margin: 50px -40px;
          }
        }
      }
    }
  }
}
