.modal {
  max-width: 100% !important;
  z-index: 9000;

  .btn--close {
    position: absolute;
    right: 10px;
    top: 5px;
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    color: $primary;
    border: 0px;
    font-size: rfs-value(24px);
    line-height: 1;
    z-index: 5;
  }
}
