.navActivator {
  text-decoration: none;
  line-height: 1;
  padding: .75rem;
  @include font-size(16px);
  font-weight: $font-weight-bold;

  i {
    //vertical-align: middle;
  }
}

#mainNav {
  .level_1 > li > a {
    z-index: 500;
  }
}

// MobileNav

#mobileNav {
  //z-index: 10;

  .mm-listitem::after {
    left: 0;
  }

  .logo {
    display: none;
  }
}

.mm-menu_theme-white {
  --mm-line-height: 20px;
  --mm-listitem-size: 44px;
  --mm-navbar-size: 44px;
  --mm-offset-top: 0;
  --mm-offset-right: 0;
  --mm-offset-bottom: 0;
  --mm-offset-left: 0;
  --mm-color-border: transparent;
  --mm-color-button: white;
  --mm-color-text: white;
  --mm-color-text-dimmed: rgba(0, 0, 0, 0.3);
  --mm-color-background: var(--bs-primary);
  --mm-color-background-highlight: rgba(0, 0, 0, 0.05);
  --mm-color-background-emphasis: rgba(var(--bs-white-rgb), 0.4);
  --mm-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.mod_mmenu {
  .mm-panels {
    > .mm-panel:first-child {
      .mm-navbar__title {
        span {
          display: none;
        }

        &:after {
          content: "";
          width: calc(100% + 80px);
          height: 100px;
          background: var(--bs-primary) url("/files/base/layout/img/logo.svg") center center no-repeat;
          background-size: contain;
          margin: 50px -40px;
        }
      }
    }
  }

  .mm-navbar__title span {
    color: $white;
    overflow: visible;
  }

  .mm-listview.level_1 {
    > li {
      > a {
        text-transform: uppercase;
      }
    }
  }

  .mm-listview.level_2,
  .mm-listview.level_3 {
    margin-top: 3.5rem;
  }

  .mm-listitem {
    font-weight: 200;

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    > * {
      padding-left: 50px;
    }
  }
}
