.navActivator {
  text-decoration: none;
  line-height: 1;
  padding: .75rem;
  @include font-size(16px);
  font-weight: $font-weight-bold;

  i {
    //vertical-align: middle;
  }
}

#mainNav {
  .level_1 > li > a {
    z-index: 500;
  }

  &.with-arrow {
    .level_1 > li.submenu {
      > ul.level_2 {
        margin-top: -10px;
        box-shadow: $box-shadow;

        &:before {
          content: '';
          width: 0;
          height: 0;
          border-width: 0 10px 10px 10px;
          border-color: transparent transparent var(--bs-header-navbar-bg) transparent;
          border-style: solid;
          position: absolute;
          top: -10px;
          left: 50%;
          margin-left: -10px;
        }
      }
    }
  }
}


// MobileNav

#mobileNav {
  //z-index: 10;

  &:not(.extended-nav) {
    .mm-listitem::after {
      left: 0;
    }

    .logo {
      display: none;
    }
  }


  &.extended-nav {
    hr {
      border-top: 2px solid var(--bs-primary);
      opacity: 1;
    }

    .header-icons {
      font-size: 1.5rem;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: flex-end;

      li.social-media {
        display: none;
      }
    }

    .stoerer-button--list {
      ul.list-inline {
        margin-left: 0px;
        font-size: 1.5rem;
      }
    }
  }
}


// Akkordeon-Nav

.accordion-nav.level_1 {
  list-style-type: none;
  padding: 0px;
  margin: 0px;

  ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
  }

  > li {
    &:not(:last-child) {
      margin-bottom: 1.25rem;
    }

    > div {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      text-transform: uppercase;
      font-size: 1.25rem;

      .nav-toggler {
        font-size: 1.25rem;
        position: relative;
        z-index: 10;

        i {
          cursor: pointer;
        }

        .is-open {
          display: none;
        }
      }
    }

    .level_2 {
      display: none;
      font-weight: $font-weight-bold;
      padding-top: .5rem;
    }

    &.trail, &.active, &.expanded {
      .nav-toggler {
        .is-open {
          display: inline-block;
        }

        .is-closed {
          display: none;
        }
      }

      .level_2 {
        display: block;
      }
    }
  }
}