.offcanvas-header {
  margin-bottom: 3rem;

  figure {
    margin-bottom: 0px;

    img {
      max-height: rfs-value(65px);
    }
  }

  i {
    font-size: 2rem;
  }

  .overlayNavClose {
    text-transform: uppercase;

    span {
      font-weight: $font-weight-bold;
      vertical-align: middle;
      font-size: rfs-value(20px);
      display: inline-block;

      & + i {
        margin-right: rfs-value(5px);
      }
    }

    i {
      vertical-align: middle;

      & + span {
        margin-left: rfs-value(5px);
      }
    }
  }
}