.mod_catalogMasterView {
  .content--element {
    margin-bottom: $basic-gutter;


    &.testimonials--top {
      .testimonial-person--box {
        background-color: var(--bs-primary);
        padding: 2rem;

        @include media-breakpoint-up(lg) {
          min-height: 100%;
        }
      }
    }
  }
}


.contact--persons {
   text-align: center;
   @include media-breakpoint-up(md) {
     text-align: left;
   }



  figure {
    margin-bottom: 0px;

    img {
      border-radius: 50%;
      max-width: 225px;
      margin: 0 auto 1rem auto;
      width: 100%;

         @include media-breakpoint-up(md) {
           margin-bottom: 0px;
           max-width: none;
         }
    }
  }

  a {
    text-decoration: none;

    i {
      margin-right: .25rem;
    }
  }

  .contact-person--name {
    font-weight: $font-weight-bold;
  }

  .contact-person--description {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.benefit--box {
    text-align: center;

    .benefit--title {
      text-transform: uppercase;
      font-weight: $font-weight-bold;
      margin-bottom: 0px;
    }
  }