

.project--box {
  position: relative;
  background-blend-mode: saturation;


  &:hover {
    background-blend-mode: screen;

    .project-box--flex-wrapper .project-box--inner {
      .project--title {
        background-color: rgba(var(--bs-primary-rgb), 0.75);
      }

      .project--more-button {
        opacity: 1;
      }
    }
  }

  .project-box--flex-wrapper {
    display: flex;
    flex-flow: column wrap;
    min-height: rfs-value(300px);
    justify-content: center;
    align-items: center;

    .project-box--inner {
      width: 100%;
      text-align: center;

      > a {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
      }

      .project--title {
        background-color: rgba(var(--bs-primary-rgb), 0.5);
        transition: all 0.3s ease;

        padding: 1rem;
        margin-top: rfs-value(75px);
        color: var(--bs-body-color-inverse);
        @include font-size(20px);
        font-weight: $font-weight-bold;
        text-transform: uppercase;
      }

      .project--more-button {
        padding: 1rem;
        opacity: 0;
        transition: all 0.3s ease;
      }
    }
  }
}
