#searchWidget {
  padding: 0 .5rem;
  min-width: rfs-value(225px);
}


#searchResults {
  form .formbody {
    max-width: rfs-value(400px);
    margin-bottom: 2rem;
  }
}


.mod_search {

  div.even {
    background-color: $gray-100;
  }

  div.odd {
    background-color: $gray-200;
  }


  div.even, div.odd {
    padding: 10px 13px;
    margin-bottom: 10px;

    a {
      text-decoration: none;
    }

    h3 {
      margin-bottom: 5px;
    }

    p.context {
      margin-bottom: 0px;
    }

    p.url {
      font-size: rfs-value(14px);
      margin-top: .5rem;
    }
  }
}