.swiper{

  .swiper-wrapper{
    align-items: center;
    text-align: center;


    .swiper-lazy{
      opacity: 0;
      transition: all .3s ease;

      & + .slide-caption{
        opacity: 0;
        transition: all .3s ease;
      }

      &.swiper-lazy-loaded{
        opacity: 1;

        & + .slide-caption{
          opacity: 1;
        }
      }
    }


  }

  .swiper-button-prev{

  }

  .swiper-button-next{

  }

  .swiper-pagination{
    bottom: rfs-value(25px);
    background-color: $white;
    padding: rfs-value(0px 5px 5px 5px);
    border-radius: 10px;
    line-height: 1;
    right: 50%;
    transform: translate(50%, -50%);
    left: auto;
    width: auto;
    box-shadow: $box-shadow;

    .swiper-pagination-bullet{
      &.swiper-pagination-bullet-active{

      }
    }
  }
}