html body .btn {
  --bs-btn-border-radius: #{$border-radius};
  --bs-btn-font-size: var(--bs-body-main-font-size);
  //--bs-btn-padding: .5rem .75rem;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-active-bg: var(--bs-btn-hover-bg);
  --bs-btn-active-border-color: var(--bs-btn-hover-border-color);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-disabled-color: var(--bs-btn-color);
  --bs-btn-disabled-bg: var(--bs-btn-bg);
  --bs-btn-disabled-border-color: var(--bs-btn-border-color);

  line-height: 1;
  transition: all 0.25s ease;
  cursor: pointer;
  padding: var(--bs-btn-padding-top) var(--bs-btn-padding-right)
    var(--bs-btn-padding-bottom) var(--bs-btn-padding-left);

  &:hover,
  &:focus,
  &:focus:active {
    box-shadow: none;
  }

  > i {
    margin-right: 0.25rem;
  }

  &.btn-xs {
    font-size: calc(var(--bs-btn-font-size) * 0.5);
    padding: calc(var(--bs-btn-padding-top) * 0.5)
      calc(var(--bs-btn-padding-right) * 0.5)
      calc(var(--bs-btn-padding-bottom) * 0.5)
      calc(var(--bs-btn-padding-left) * 0.5);
  }

  &.btn-sm {
    font-size: calc(var(--bs-btn-font-size) * 0.75);
    padding: calc(var(--bs-btn-padding-top) * 0.75)
      calc(var(--bs-btn-padding-right) * 0.75)
      calc(var(--bs-btn-padding-bottom) * 0.75)
      calc(var(--bs-btn-padding-left) * 0.75);
  }

  &.btn-lg {
    font-size: calc(var(--bs-btn-font-size) * 1.25);
    padding: calc(var(--bs-btn-padding-top) * 2)
      calc(var(--bs-btn-padding-right) * 2)
      calc(var(--bs-btn-padding-bottom) * 2)
      calc(var(--bs-btn-padding-left) * 2);
  }

  &.btn-xl {
    font-size: calc(var(--bs-btn-font-size) * 1.5);
    padding: calc(var(--bs-btn-padding-top) * 2.5)
      calc(var(--bs-btn-padding-right) * 2.5)
      calc(var(--bs-btn-padding-bottom) * 2.5)
      calc(var(--bs-btn-padding-left) * 2.5);
  }

  &.btn-primary {
    --bs-btn-hover-border-color: var(--bs-primary);
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-color: var(--bs-white);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-color: var(--bs-primary);

    color: var(--bs-btn-color);

    &:hover {
      color: var(--bs-btn-hover-color);
    }
  }

  &.btn-outline-primary {
    --bs-btn-hover-border-color: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-color: var(--bs-primary);
    --bs-btn-hover-bg: var(--bs-primary);
    --bs-btn-hover-color: var(--bs-body-color-inverse);

    color: var(--bs-btn-color);

    &:hover {
      color: var(--bs-btn-hover-color);
    }
  }

  &.btn-secondary {
    --bs-btn-hover-border-color: var(--bs-secondary);
    --bs-btn-bg: var(--bs-secondary);
    --bs-btn-border-color: var(--bs-secondary);
    --bs-btn-hover-color: var(--bs-secondary);
    --bs-btn-hover-bg: transparent;

    color: var(--bs-btn-color);

    &:hover {
      color: var(--bs-btn-hover-color);
    }
  }

  &.btn-outline-secondary {
    --bs-btn-hover-border-color: var(--bs-secondary);
    --bs-btn-border-color: var(--bs-secondary);
    --bs-btn-color: var(--bs-secondary);
    --bs-btn-bg: transparent;
    --bs-btn-hover-bg: var(--bs-secondary);
    --bs-btn-hover-color: var(--bs-body-color-inverse);

    color: var(--bs-btn-color);

    &:hover {
      color: var(--bs-btn-hover-color);
    }
  }

  &.btn-white {
    --bs-btn-hover-border-color: var(--bs-body-color);
    --bs-btn-border-color: var(--bs-white);
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-bg: var(--bs-white);
    --bs-btn-hover-bg: var(--bs-body-color);
    --bs-btn-hover-color: var(--bs-white);

    color: var(--bs-btn-color);

    &:hover {
      color: var(--bs-btn-hover-color);
    }
  }

  &.btn-outline-black {
    --bs-btn-hover-border-color: var(--bs-black);
    --bs-btn-border-color: var(--bs-black);
    --bs-btn-color: var(--bs-black);
    --bs-btn-bg: transparent;
    --bs-btn-hover-bg: var(--bs-black);
    --bs-btn-hover-color: var(--bs-white);

    color: var(--bs-btn-color);

    &:hover {
      color: var(--bs-btn-hover-color);
    }
  }

  &.btn-outline-white {
    --bs-btn-hover-border-color: var(--bs-white);
    --bs-btn-border-color: var(--bs-white);
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: transparent;
    --bs-btn-hover-bg: var(--bs-white);
    --bs-btn-hover-color: var(--bs-primary);

    color: var(--bs-btn-color);

    &:hover {
      color: var(--bs-btn-hover-color);
    }
  }

  &.btn-link {
    padding: 0px;
    --bs-btn-color: var(--bs-primary);

    &:hover,
    &:focus {
      outline: none;
      box-shadow: none;
    }

    &.with-arrow {
      text-decoration: none;

      &:after {
        @extend %fa-icon;
        @extend #{$icon-type};
        content: fa-content($fa-var-angles-right);
        display: inline-block;
        margin-left: rfs-value(5px);
        vertical-align: middle;
        white-space: nowrap;
        position: relative;
        top: -2px;
        @include font-size(20px);
      }
    }
  }

  &.btn-blank {
    --bs-btn-bg: transparent;
    border: 0px;
    padding: 0px;
  }

  &.btn-block {
    width: 100%;
    display: block;
  }

  /*
  &.with-icon {
    text-align: left;

    i {
      width: rfs-value(25px);
      display: inline-block;
      text-align: center;
    }

    &.btn-sm {
      width: rfs-value(20px);
    }
  }

   */
}

//FIX/HACK
html body {
  .btn-check:checked + .btn,
  :not(.btn-check) + .btn:active,
  .btn:first-child:active,
  .btn.active,
  .btn.show {
    color: var(--bs-btn-active-color);
    background-color: var(--bs-btn-active-bg);
    border-color: var(--bs-btn-active-border-color);
  }
}
