.btn {
  line-height: 1;
  border-radius: $border-radius;
  transition: all 0.3s ease;

  &:hover,
  &:focus,
  &:focus:active {
    opacity: 0.85;
    box-shadow: none;
  }

  &:not(.btn-sm) {
    padding-top: rfs-value(9px);
    padding-bottom: rfs-value(11px);
  }

  &.btn-sm{
    @include font-size(14px);
    padding-bottom: rfs-value(6px);
  }

  &.btn-primary {
    background-color: $primary;
    color: var(--bs-white);
    border-color: $primary;

    &:hover{
      background-color: transparent;
      color: $primary;
    }
  }

  &.btn-outline-primary {
    border-color: $primary;
    color: $primary;

    &:hover{
      background-color: $primary;
      color: $text-color-inverse;
    }
  }

  &.btn-secondary {
    background-color: $secondary;
    border-color: $secondary;

    &:hover{
      background-color: transparent;
      color: $secondary;
    }
  }

  &.btn-outline-secondary {
    border-color: $secondary;
    color: $secondary;

        &:hover{
      background-color: $secondary;
      color: $text-color-inverse;
    }
  }

  &.btn-link {
    padding: 0px;
    color: $primary;

    &:hover,
    &:focus {
      outline: none;
      box-shadow: none;
    }

    &.with-arrow {
      text-decoration: none;

      &:before {
        @extend %fa-icon;
        @extend .fal;
        content: fa-content($fa-var-angle-double-right);
        display: inline-block;
        margin-right: rfs-value(5px);
        vertical-align: middle;
        white-space: nowrap;
        position: relative;
        top: -2px;
        @include font-size(20px);
      }
    }
  }
}
