.ce_form {

  > *:not(form):first-child{
    margin-bottom:2rem;
  }

  .formbody{
    .input-group{
      .input-group-append, .input-group-prepend{
        z-index: 1;
        .input-group-text{
          //opacity: 0;
          height: 100%;
          background-color: $primary;
          color: $text-color-inverse;
          border: 0px;


          &.transformed{
            //opacity: 1;
          }
        }
      }
    }

    .input-group-append{
      .input-group-text{
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
      }
    }

    .input-group-prepend{
      .input-group-text{
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
      }

      &+* + label{
        left: rfs-value(41px);
      }
    }
  }


  .widget{
      margin-bottom: 1.25rem;

    input[type="text"], input[type="email"], &.widget-captcha > input{
      min-height: rfs-value(58px);
    }

    &.widget-textarea{
      textarea{
        min-height: 100px;
      }
    }

    &.widget-upload{
      input.upload{
        margin-top: rfs-value(10px);
        @extend .btn;
        background-color: $gray-200;
      }
    }

    p.error{
      margin-bottom: 0px;
    }
  }


  // Floating Labels
  .form-floating{
    > label{
      z-index: 5;
      color: $input-placeholder-color;
    }
  }

}