//Get Bootstrap Stylings if class is not set
/*
form .widget:not(.form-floating) {
  input,
  textarea,
  select {
    &:not(.form-control):not([type="radio"]):not([type="checkbox"]) {
      @extend .form-control;
    }
  }

  &.widget-radio,
  &.widget-checkbox {
    fieldset > span {
      @extend .form-check;

      input {
        @extend .form-check-input;
      }
    }
  }
}

 */




.widget {
  *[class*="col"] {
    width: 100%;
  }
}

.widget.form-floating {
  label {
    padding-inline: $form-floating-real-padding-x;
    font-size: var(--bs-body-font-size);
    line-height: calc(var(--bs-gutter-y) * .5 + var(--bs-body-font-size));

    &:after {
      background-color: transparent !important;
    }
  }
}

.input-group {
  &.form-floating {
    label {
      padding: 0 0.75rem;
      line-height: 56px;
    }
  }

  .input-group-append {
    margin-left: 0px !important;

    > .btn {
      height: 100%;
      min-width: rfs-value(50px);
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }
  }

  .input-group-prepend {
    margin-right: 0px !important;

    > .btn {
      height: 100%;
      min-width: rfs-value(50px);
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }
  }
}

fieldset legend {
  display: flex;
  align-items: center;

  &:after {
    content: "";
    flex-grow: 1;
    height: 1px;
    background-color: #000; /* Farbe der Trennlinie anpassen */
    margin-left: 10px; /* Abstand zwischen Text und Linie anpassen */
  }

}


.widget.error {
  > p {
    border-radius: var(--bs-input-border-radius) var(--bs-input-border-radius) 0px 0px;

    & + input {
      border-top-left-radius: 0 !important;
      border-top-right-radius: 0 !important;
    }
  }
}


form {
  min-width: 100%;

  .row {
    &:not([class*="gy-"]):not([class*="g-"]) {
      --bs-gutter-y: var(--bs-gutter-x);
    }
  }

  .formbody {
    --bs-gutter-x: 15px;
    --bs-gutter-y: 15px;

    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));

    .widget {
      max-width: 100%;
      margin-top: var(--bs-gutter-y);
      padding-right: calc(var(--bs-gutter-x) * .5);
      padding-left: calc(var(--bs-gutter-x) * .5);


      &:not([class*="col"]) {
        flex-shrink: 0;
        width: 100%;
      }
    }
  }
}


textarea.form-control {
  min-height: 140px !important;
}

.widget:not(.form-floating) {
  transition: opacity 0.15s ease-in-out;

  /*

   */


  /*
    > label:first-child {
    padding: 2px 0.75rem 2px 0.75rem;
    border-radius: var(--bs-input-border-radius) var(--bs-input-border-radius) 0px 0px;
    background-color: var(--bs-primary);
    color: var(--bs-body-color-inverse);
    margin-bottom: 0px;
    @include font-size(14px);

    & + * {
      border-radius: 0px var(--bs-input-border-radius) var(--bs-input-border-radius) var(--bs-input-border-radius);
    }
  }

  label + input:not(.form-control) {
    border-top-left-radius: 0px !important;
  }

   */


  .form-control {
    padding: var(--bs-input-padding-y) var(--bs-input-padding-x);


    &[type="file"] {
      padding-top: 0px;
      padding-bottom: 0px;
      line-height: rfs-value(50px);
    }
  }


  &.error {
    color: $danger;

    > input,
    > textarea {
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
    }

    label {
      color: $danger;
    }
  }

  &.widget-checkbox,
  &.widget-radio {
    p.error {
      padding-left: rfs-value(30px);
      background-color: transparent;
      color: $danger;
      font-weight: $font-weight-bold;
    }
  }


  &.widget-select {
    position: relative;


    select {
      padding: var(--bs-input-padding-y) var(--bs-input-padding-x);
    }

    label + .select-wrapper {
      &:after {
        margin-top: 11px; //@INFO Label-height / 2
      }

      > select {
        border-radius: 0px var(--bs-input-border-radius) var(--bs-input-border-radius) var(--bs-input-border-radius);
      }
    }
  }

  &.widget-submit {
    //text-align: center;
    margin-top: 1rem;

    button:not(.btn) {
      //@extend .btn, .btn-primary;
    }

    button {
      //@extend .btn-lg;
    }
  }
}

.form-check-input {
  margin-top: .125em;

  &:checked, &:focus, &:focus-visible {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
    box-shadow: 0 0 0 .25rem rgba(var(--bs-primary-rgb), .25);
  }
}

.form-label {
  margin-bottom: .5rem;
}

.captcha_text {
  margin-bottom: 5px;
  display: block;
  --bs-alert-margin-top: .5rem !important;
}

p.error {
  border-radius: 0px 0px var(--bs-input-border-radius) var(--bs-input-border-radius);
  margin-bottom: 0px;
  @include padding(5px 0.75rem);
  @include font-size(14px);
  color: var(--bs-body-color-inverse);
  background-color: $danger;
}

.form-select, .form-control {
  box-shadow: var(--bs-input-shadow);
  border: var(--bs-input-border);
  border-radius: var(--bs-input-border-radius);
  color: var(--bs-input-color);

  &:focus, &:active {
    box-shadow: 0 0 0 3px rgba(var(--bs-primary-rgb), .2);
    border: var(--bs-input-border);
  }
}

/*
.widget:not(.widget-upload):not(.widget-radio):not(.widget-checkbox):not(.widget-captcha) {
  &:not(.form-floating) {
    input, textarea {
      border-top-left-radius: var(--bs-input-border-radius) !important;
      border-top-right-radius: var(--bs-input-border-radius) !important;
    }

    label {
      display: none;
    }
  }
}


 */
