.invisible {
  display: none;
}


/* AOS */
[data-animation*="animate__"],
[class*="animate__"] {
  &:not(.animate__animated):not([data-animation="no-animation"]) {
    visibility: hidden;
    opacity: 0;
  }

  &.animate__animated {
    visibility: visible;
    opacity: 1;
  }
}

[data-animation="no-animation"]{
  visibility: visible !important;
}


[class*="container"] {
  padding-inline: var(--bs-container-gutter);

  [class*="container"]:not([class*="col"]) {
    max-width: none;
    width: auto;
    padding-inline: 0;
  }
}


*[data-bs-toggle] {
  cursor: pointer;
}

*:not(.row) {
  > *[class*="col-"]:not(.make-fullwidth) {
    margin-left: auto;
    margin-right: auto;

    > .container {
      width: auto;
    }
  }
}

.row > [class*="col-"] > .container > [class*="col-"] {
  width: 100%;
}


div:has([class*="text-"]):has([class*="-center"]) {
  .ce--buttons {
    justify-content: center;
  }
}


@include media-breakpoint-up(lg) {
  .pulled-up-element {
    > .ce--inner {
      //margin-inline: calc(-1 * (var(--main-gap) / 2));
     // padding: calc(var(--main-gap) / 2);
     // background-color: var(--bs-body-bg);

    }


    .row:not(.align-items-center) > div:last-child {
      padding-top: calc((var(--main-gap) ) + 150px) !important;
      //padding-top: 150px !important;
    }

    .team-members .team-member:first-child {
      .row.align-items-center {
        align-items: flex-start !important;
      }

      .member-info {
        padding-top: calc((var(--main-gap) / 2) + 150px) !important;
      }
    }
  }
}

.moved-content {
  position: relative;
  background-color: var(--bs-body-bg);
  z-index: 4;
  display: block;
  //box-shadow: var(--bs-box-shadow-lg);
  padding-top: var(--main-gap);

  &[style] {
    opacity: 1;
  }
}


@include media-breakpoint-down(lg) {
  .pulled-up-element {
    transform: none !important;
    margin-top: var(--main-gap);
    margin-bottom: var(--main-gap) !important;
  }
}


.container-wide {
  @include media-breakpoint-up(xxl) {
    max-width: calc(1300px + (var(--bs-container-gutter)*2));
    margin-inline: auto;
  }
}