.invisible {
  display: none;
}


/* AOS.js */

[data-aos*="animate__"], [class*="animate__"]:not(.animate__animated) {
  &:not([data-aos="no-animation"]) {
    visibility: hidden;
  }

  &.animate__animated {
    visibility: visible;
  }
}


.lazy {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;

  &.loaded,
  &[loading="eager"] {
    opacity: 1;
  }
}


.container {
  padding-inline: var(--bs-container-gutter);

  .container:not([class*="col"]) {
    max-width: none;
    width: auto;
    padding-inline: 0;
  }
}


*[data-bs-toggle] {
  cursor: pointer;
}

*:not(.row) {
  > *[class*="col-"]:not(.make-fullwidth) {
    margin-left: auto;
    margin-right: auto;

    > .container {
      width: auto;
    }
  }
}

.row > [class*="col-"] > .container > [class*="col-"] {
  width: 100%;
}


div:has([class*="text-"]):has([class*="-center"]) {
  .ce--buttons {
    justify-content: center;
  }
}


@include media-breakpoint-up(lg) {
  .content--element:has(.pull-bottom) {
    padding-bottom: 0 !important;
  }
  .pulled-up-element {
    .row:not(.align-items-center) > div:last-child {
      padding-top: calc((var(--main-gap)/2) + 150px) !important;
      //padding-top: 150px !important;
    }

    .team-members .team-member:first-child {
      .row.align-items-center{
        align-items: flex-start !important;
      }

      .member-info {
        padding-top: calc((var(--main-gap)/2) + 150px) !important;
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .pulled-up-element {
    margin-bottom: 0 !important;
    transform: none !important;
  }
}
