.invisible {
  display: none;
}



/* AOS.j s*/
[data-aos]:not([data-aos="no-animation"]) {
  visibility: hidden;

  &.animate__animated {
    visibility: visible;
  }
}




/* CUSTOM AOS
[data-aos]:not([data-aos="no-animation"]) {
  opacity: 0;

  &.animate__animated {
    opacity: 1;
    transition: opacity var(--animate-duration) var(--animate-delay);
  }
}

 */

/*
[data-aos],
[class*="ce_"]:not([data-aos]) {

  &:not(.ce_rsce_onepagenavi){
    z-index: 1;
  position: relative;
  }
}

 */



header,
footer {
  *[data-aos] {
    transition: none !important;
    animation: none !important;
    visibility: visible !important;
    opacity: 1 !important;
  }
}



.lazy {
  opacity: 0;
  transition: opacity 0.15s ease-in-out;

  &.loaded,
  &[loading="eager"] {
    opacity: 1;
  }
}


.container {
  .container {
    max-width: none;
    padding: 0px;
    width: inherit;
  }
}

.ce_form {
  .row.boostrap5 {
    width: 100%;
  }
}

.container {
  //--bs-gutter-x: 0;
  //overflow: auto;
}

.container {
  @include media-breakpoint-down(sm) {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .container {
    padding-left: 0px;
    padding-right: 0px;

    &:not(.ce--inner) {
      //overflow: hidden;
    }
  }
}

.alpdeskfee-article {
  margin: 0px !important;
}

*[data-bs-toggle] {
  cursor: pointer;
}

*:not(.row) {
  > *[class*="col-"]:not(.make-fullwidth) {
    margin-left: auto;
    margin-right: auto;

    > .container {
      width: auto;
    }
  }
}

.row > [class*="col-"] > .container > [class*="col-"]{
  width: 100%;
}

.remove-bottom-gutter{
    margin-bottom: calc(-1 * var(--main-gap)) !important;
}

.remove-top-gutter{
  margin-top: calc(-1 * var(--main-gap)) !important;
}