.bg-gray {
  background-color: var(--bs-gray);
}

.pos-centered {
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;

  .column--kachel {
    position: relative;
    margin: auto;
  }
}

.pos-centered-right {
  transform: translate(0%, -50%);
  right: 0;
  top: 50%;

  .column--kachel {
    right: 0;
  }
}

.pos-centered-left {
  transform: translate(0%, -50%);
  left: 0;
  top: 50%;

  .column--kachel {
    left: 0;
  }
}

.pos-top-right {
  top: 0;
  right: 0;

  .column--kachel {
    top: 0;
    right: 0;
  }
}

.pos-top-left {
  top: 0;
  left: 0;

  .column--kachel {
    top: 0;
    left: 0;
  }
}

.pos-top-center {
  transform: translate(-50%, 50px);
  left: 50%;
  top: 0;

  .column--kachel {
    position: relative;
    margin: 0 auto;
  }
}

.pos-bottom-right {
  bottom: 0;
  right: 0;

  .column--kachel {
    bottom: 0;
    right: 0;
  }
}

.pos-bottom-left {
  bottom: 0;
  left: 0;

  .column--kachel {
    bottom: 0;
    left: 0;
  }
}

.pos-bottom-center {
  transform: translate(-50%, 0px);
  left: 50%;
  bottom: 0;

  .column--kachel {
    position: relative;
    margin: 0 auto;
  }
}

.two-column-text {
  @include media-breakpoint-up(lg) {
    column-count: 2;
    column-gap: var(--bs-gutter-x);
  }
}

.half-container {
  @extend %half-container;
}

.make-fullwidth {
  @extend %make-fullwidth;
}

.w-auto {
  max-width: none !important;
  min-width: 0 !important;
}

a.disabled-link {
  cursor: auto;
  text-decoration: none;
  pointer-events: none;
}

[class*="pull-"] {
  position: relative;
  z-index: 3;
}

.move-content + * {
  display: none;
}



.remove-bottom-gutter {
  margin-bottom: calc(-1 * var(--main-gap)) !important;
}

.remove-top-gutter {
  margin-top: calc(-1 * var(--main-gap)) !important;
}


.font-primary {
  font-family: $font-family-base;
}

.font-secondary {
  font-family: $headings-font-family;
}



.invisible {
  display: none !important;
}
