
form{
  .row {
  //margin-top: 0;
  &:not([class*="gy-"]):not([class*="g-"]) {
    --bs-gutter-y: var(--bs-gutter-x);
  }
}

}




.mod_article[class*="bg-"] + .mod_article:not([class*="bg-"]) {
  padding-top: $basic-gutter;
}


html body{
    /*
    .row {
    //margin-top: calc(-1 * var(--bs-gutter-y) / 2);
    //margin-bottom: calc(-1 * calc(var(--bs-gutter-y) / 2));


    &:not([class*="gy-"]) {
      --bs-gutter-y: var(--bs-gutter-x);
    }

    > * {
      margin-top: 0;
      padding-left: calc(var(--bs-gutter-x) / 2);
      padding-right: calc(var(--bs-gutter-x) / 2);
      padding-top: calc(var(--bs-gutter-y));
      //padding-bottom: calc(var(--bs-gutter-y) / 2);
    }
  }
   */
}

/*
.row {
  &:not([class*="gy-"]):not([class*="g-"]):not([class*="gx-"]) {
    --bs-gutter-y: calc(#{$grid-gutter-width} / 2);
    --bs-gutter-x: calc(#{$grid-gutter-width} / 2);
  }
}
 */
