html body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  font-size: clamp(
    var(--bs-body-font-size),
    1vw,
    calc(var(--bs-body-font-size) * 1.15)
  );

  *:focus,
  *:active {
    outline: 0px;
  }

  figure {
    margin: 0;
  }

  img {
    max-width: 100%;
    height: unset;
    width: unset;
  }

  strong,
  b {
    font-weight: $font-weight-bold;
  }

  iframe,
  embed {
    width: 100%;
  }

  video {
    width: 100%;
    max-height: 100%;
  }



  a {
    transition: color 0.3s ease;

    figcaption{
      color: $body-color;
    }
  }

  span:not([data-bs-toggle="dropdown"]) {
    //line-height: var(--bs-body-line-height);
  }

  p {
    line-height: var(--bs-body-line-height-lg);
    //overflow: auto;

    /*
    &.error {
      //@extend .bg-danger;
      //@extend .alert;
      color: var(--bs-body-color-inverse);
      font-size: 1rem;
      font-weight: $font-weight-normal;
      width: 100%;

    }
    */
    > a.alert {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    &:last-of-type {
      margin-bottom: 0px;
    }

    & + h2,
    & + .h2 {
      margin-top: 2rem;
    }
  }

  main {
    ul {
      padding-left: 20px;

      &:last-child {
        margin-bottom: 0px;
      }
    }

    p:last-child:last-of-type {
      margin-bottom: 0px;
    }
  }

  .table-responsive {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0px;
    }

    > table.table {
      margin-top: 0px;
    }
  }

  table.table {
    margin-top: 1rem;
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0px;
    }

    &.table-data {
      @include font-size(14px);
      margin-top: 0px;

      tr {
        td {
          border-bottom: 0px;
          padding-top: 0.25rem;
          padding-bottom: 0.25rem;

          &:first-child {
            color: var(--bs-primary);
            padding-left: 0px;
            font-family: var(--bs-font-tertiary);
          }

          &:last-child {
            white-space: normal;
          }
        }
      }
    }

    &.table-technical-data {
      border: 0px;
      width: 100% !important;
      height: auto !important;
      //margin-top: 2.5rem;

      > thead {
        > tr {
          background-color: var(--bs-blue);

          th {
            color: var(--bs-body-color-inverse);
          }
        }
      }

      > tbody:first-child {
        > tr {
          &:first-child {
            background-color: var(--bs-blue);

            td {
              color: var(--bs-body-color-inverse);
            }
          }
        }
      }

      > tbody {
        > tr {
          &:nth-child(even) {
            background-color: var(--bs-gray-300);
          }

          &:nth-child(odd) {
            background-color: var(--bs-gray-400);
          }

          td {
            padding: rfs-value(5px 10px);
            width: auto !important;
            height: auto !important;
            border-bottom: 0px;
            color: var(--bs-gray-700);
          }
        }
      }
    }

    tr {
      td {
        width: auto;
        white-space: nowrap;
        height: auto;
      }
    }
  }

  a.alert {
    text-decoration: none;

    i {
      @include font-size(22px);
      margin-right: rfs-value(15px);
      vertical-align: sub;
    }
  }
}

.text-primary {
  color: $primary !important;
}

.text-secondary {
  color: $secondary !important;
}

.dynamic-fontsize-lg {
  font-size: clamp(3.5rem, 3vw, 9rem);
  //line-height: var(--bs-body-line-height-xs);
}

.dynamic-fontsize {
  font-size: clamp(2.5rem, 3vw, 6rem);
  //line-height: var(--bs-body-line-height-xs);
}

.dynamic-fontsize-sm {
  font-size: clamp(1.5rem, 3vw, 3rem);

  //line-height: var(--bs-body-line-height-xs);

  p{
      line-height: 1.25;
  }
}

.list-inline {
  &.with-separator {
    > li {
      &:not(:last-child) {
        &:after {
          content: "|";
          display: inline-block;
          margin: 0 -5px 0 4px;
        }
      }
    }
  }
}

%list-check {
  list-style-type: none;
  padding: 0px;
  margin: 0px;

  > li {
    position: relative;
    padding-left: 35px;

    &:not(:last-child) {
      margin-bottom: 8px;
    }

    &:before {
      @extend %fa-icon;
      @extend #{$icon-type};
      content: fa-content($fa-var-check);
      position: absolute;
      padding-right: rfs-value(10px);
      color: var(--bs-primary);
      left: 0;
      top: 2px;
    }

    a {
      text-decoration: none;
      color: var(--bs-body-color);
      display: inline-block;
    }
  }
}

%list-downloads {
  list-style-type: none;
  padding: 0px;
  margin: 0px;

  > li {
    position: relative;
    padding-left: 35px;

    &:not(:last-child) {
      margin-bottom: 8px;
    }

    &:before {
      @extend %fa-icon;
      @extend #{$icon-type};
      content: fa-content($fa-var-download);
      position: absolute;
      padding-right: rfs-value(10px);
      color: var(--bs-primary);
      left: 0;
      top: 0px;
      font-size: 1.25rem;
    }

    a {
      text-decoration: none;
      color: var(--bs-primary);
      display: inline-block;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

%list-dots {
  list-style-type: none;
  padding: 0px;
  margin: 0px;

  > li {
    position: relative;
    padding-left: 35px;

    &:not(:last-child) {
      margin-bottom: 8px;
    }

    &:before {
      @extend %fa-icon;
      @extend #{$icon-type};
      content: fa-content($fa-var-circle);
      position: absolute;
      padding-right: rfs-value(10px);
      color: var(--bs-body-color-inverse);
      left: 0;
      top: 5px;
      font-size: 0.75rem;
    }

    a {
      text-decoration: none;
      display: inline-block;
    }
  }
}

.list-dots {
  @extend %list-dots;
}

.list-downloads {
  @extend %list-downloads;
}

.list-check {
  @extend %list-check;
}

ul[class*="list-"][class*="text-"] {
  > li {
    color: inherit;

    &:before {
      color: inherit;

      > a {
        color: inherit !important;
      }
    }
  }
}
