html body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-hyphens: auto ;
  -ms-hyphens: auto ;
  -webkit-hyphens: auto ;
  hyphens: auto ;

  img {
    max-width: 100%;
    height: auto;
  }

  strong {

  }

  a{
    transition: all .3s ease;
  }

  p{
    //overflow: auto;

    >a.alert{
      margin-top: 0px;
      margin-bottom: 0px;
    }

    a{
      color: $primary;

      &:hover{
        color: $secondary;
      }
    }

    &:last-child{
      margin-bottom: 0px;
    }
  }

  h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1{
    line-height: 1;
    transition: all .3s ease;
  }



  h1, .h1 {
    font-weight: $font-weight-bold;
    margin-bottom: $headline-spacing;
    display: block;

    & + .ce--subline{
      margin-top: -$headline-spacing / 1.25;
      @include font-size(1.5rem);
    }
  }

  h2, .h2 {
    font-weight: $font-weight-bold;
    margin-bottom: $headline-spacing / 1.25;
    display: block;

    & + .ce--subline{
      margin-top: -$headline-spacing/1.5;
      @include font-size(1.5rem);
    }
  }

  h3, .h3 {
    font-weight: $font-weight-medium;
    margin-bottom: $headline-spacing / 2;
    font-size: 1.5rem;
    color: $primary;
    display: block;


    & + .ce--subline{
      margin-top: -$headline-spacing/2;
    }
  }


  h4, .h4{

    & + .ce--subline{
      margin-top: -$headline-spacing/3.35;
    }
  }

  ul {

  }

  table.table{
    margin-bottom: 0px;
    margin-top: 1rem;

    tr {
      td{
        width: auto !important;
        white-space: nowrap;
        height: auto !important;
      }
    }
  }

  a.alert{
    text-decoration: none;
    i{
      @include font-size(22px);
      margin-right: rfs-value(15px);
      vertical-align: sub;
    }
  }
}
