html body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-hyphens: auto ;
  -ms-hyphens: auto ;
  -webkit-hyphens: auto ;
  hyphens: auto ;
  color: $body-color;

  *:focus, *:active{
    outline: 0px;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  strong {

  }

  iframe{
    width: 100%;
  }

  a{
    transition: color .3s ease;
  }

  p{
    //overflow: auto;

    >a.alert{
      margin-top: 0px;
      margin-bottom: 0px;
    }

    a{
      color: $primary;

      &:hover{
        color: $secondary;
      }
    }

    &:last-child{
      margin-bottom: 0px;
    }
  }

  h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1{
    line-height: 1;
    transition: color .3s ease;

    > span{
      display: block;
    }
  }

  .ce--subline {
    font-weight: $font-weight-bold;
    color: $primary;
    @include font-size(18px);
    display: block;
    margin-bottom: $headline-spacing;
  }

  h1, .h1 {
    font-weight: $font-weight-bold;
    margin-bottom: $headline-spacing;
    display: block;

    & + .ce--subline{
      margin-top: -$headline-spacing / 1.25;
      margin-bottom: $headline-spacing;
      @include font-size(1.5rem);
    }
  }

  h2, .h2 {
    font-weight: $font-weight-bold;
    margin-bottom: $headline-spacing / 1.75;
    display: block;

    & + .ce--subline{
      margin-top: -$headline-spacing/2;
      margin-bottom: $headline-spacing / 1.75;
      @include font-size(1.5rem);
    }
  }

  h3, .h3 {
    font-weight: $font-weight-medium;
    margin-bottom: $headline-spacing / 2.5;
    font-size: 1.5rem;
    color: $primary;
    display: block;


    & + .ce--subline{
      margin-top: -$headline-spacing / 3;
      margin-bottom: $headline-spacing / 3;
    }
  }


  h4, .h4{
    margin-bottom: $headline-spacing;

    & + .ce--subline{
      margin-top: -$headline-spacing/1.25;
      margin-bottom: $headline-spacing;
    }
  }

  main ul {
    padding-left: 15px;
  }

  table.table{
    margin-bottom: 0px;
    margin-top: 1rem;

    tr {
      td{
        width: auto;
        white-space: nowrap;
        height: auto;
      }
    }
  }

  a.alert{
    text-decoration: none;
    i{
      @include font-size(22px);
      margin-right: rfs-value(15px);
      vertical-align: sub;
    }
  }
}
