.btn {
  --bs-btn-border-radius: 0;
  --bs-btn-border-width: 3px;
  --bs-btn-disabled-color: var(--bs-btn-color);
  border-radius: var(--bs-btn-border-radius);

  //&:not(.with-arrow) { ??
  &.btn-primary {
    --bs-btn-hover-bg: transparent;
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-color: var(--bs-primary);
    --bs-btn-color: var(--bs-secondary);
  }

  &.btn-outline-primary {
    --bs-btn-hover-color: var(--bs-secondary);
  }

  &.btn-secondary {
    --bs-btn-color: var(--bs-primary);
    --bs-btn-hover-color: var(--bs-primary);
    
    &:disabled {
      --bs-btn-disabled-color: rgba(var(--bs-primary-rgb), 0.4);
      --bs-btn-disabled-border-color: rgba(var(--bs-primary-rgb), 0.3);
      opacity: 0.7;
    }
  }

  &.btn-outline-secondary {
    --bs-btn-hover-color: var(--bs-primary);
  }

  &.btn-tertiary {
    --bs-btn-hover-bg: transparent;
    --bs-btn-border-color: var(--bs-tertiary);
    --bs-btn-hover-color: var(--bs-tertiary);
  }

  //}


  &.with-arrow {
    gap: .5rem;

    @include media-breakpoint-up(md) {
      gap: .85rem;
    }

    &:hover {
      &:after {
        padding-left: .35rem;
      }
    }

    &:after {
      @extend %fa-icon;
      font-family: "Font Awesome Kit";
      content: "\e000";
      transition: all .3s ease-in-out;
    }
  }

  &.btn-link {
    font-weight: $font-weight-bold;
    text-align: left;

    &:after {
      position: relative;
      top: 1px;
    }

    @include media-breakpoint-down(sm) {
      display: inline;
      &:after {
        margin-left: .5rem;
        display: inline;
      }
    }

  }

  &.btn-sm {
    --bs-btn-padding-bottom: .35rem;
  }

  &.btn-lg {
    --bs-btn-padding-left: 1rem;
    --bs-btn-padding-right: 1rem;
    --bs-btn-font-size: 20px;
    border-width: 3px;
    border-radius: 48px;
    line-height: 1.1;
    padding-block: .75rem;

    &.with-arrow {
      --bs-btn-padding-top: 0rem;
      --bs-btn-padding-bottom: 0rem;
      gap: .5rem;
    }

    &:after {
      @extend %fa-icon;
      font-family: "Font Awesome Kit";
      content: "\e001";
      font-size: 32px;
    }
  }


  &.btn-xl {
    --bs-btn-padding-left: 1rem;
    --bs-btn-padding-right: 1rem;
    --bs-btn-font-size: 20px;
    border-width: 3px;
    border-radius: 48px;


    @include media-breakpoint-up(md) {
      --bs-btn-padding-left: 1rem;
      --bs-btn-padding-right: 1rem;
      border-width: 4px;
      border-radius: 48px;
      --bs-btn-font-size: 25px;
    }

    &.with-arrow {
      &:after {
        @extend %fa-icon;
        font-family: "Font Awesome Kit";
        content: "\e001";
        font-size: 32px;

        @include media-breakpoint-up(md) {
          font-size: 45px;
        }
      }
    }
  }
}

p a.btn.btn-link, .interactive-svg-links a.btn.btn-link {
  font-weight: $font-weight-base;
}


.btn-close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 10;
  border: 3px solid currentColor;
  opacity: 1;
  transition: all .15s ease-in-out;
}