.btn {
  --bs-btn-border-radius: 0;
  --bs-btn-border-width: 3px;
  --bs-btn-disabled-color: var(--bs-btn-color);
  border-radius: var(--bs-btn-border-radius);

  //&:not(.with-arrow) { ??
    &.btn-primary {
      --bs-btn-hover-bg: transparent;
      --bs-btn-border-color: var(--bs-primary);
      --bs-btn-hover-color: var(--bs-primary);
      --bs-btn-color: var(--bs-secondary);
    }

    &.btn-outline-primary {
      --bs-btn-hover-color: var(--bs-secondary);
    }

    &.btn-secondary {
      --bs-btn-hover-bg: transparent;
      --bs-btn-border-color: var(--bs-secondary);
      --bs-btn-hover-color: var(--bs-secondary);
    }

    &.btn-tertiary {
      --bs-btn-hover-bg: transparent;
      --bs-btn-border-color: var(--bs-tertiary);
      --bs-btn-hover-color: var(--bs-tertiary);
    }
  //}


  &.with-arrow {
    gap: .85rem;

    &:hover {
      &:after {
        padding-left: .35rem;
      }
    }

    &:after {
      @extend %fa-icon;
      @extend #{$icon-type} !optional;
      content: "\e000";
      transition: all .3s ease-in-out;
    }
  }

  &.btn-link {
    font-weight: $font-weight-bold;
  }

  &.btn-sm{
    --bs-btn-padding-bottom: .35rem;
  }

  &.btn-lg {
    --bs-btn-padding-left: 1rem;
    --bs-btn-padding-right: 1rem;
    --bs-btn-font-size: 20px;
    border-width: 3px;
    border-radius: 48px;

    &.with-arrow {
      --bs-btn-padding-top: 0rem;
      --bs-btn-padding-bottom: 0rem;
      gap: .5rem;
    }

    &:after {
      @extend %fa-icon;
      @extend #{$icon-type} !optional;
      content: "\e001";
      font-size: 32px;
    }
  }


  &.btn-xl {
    border-width: 4px;
    border-radius: 48px;
    --bs-btn-font-size: 25px;

    &.with-arrow {
      &:after {
        @extend %fa-icon;
        @extend #{$icon-type} !optional;
        content: "\e001";
        font-size: 45px;
      }
    }
  }
}