.ce_rsce_extendedimagecolumns {
  margin-bottom: $basic-gutter;

  .row {
    > div.col-md-6 {
      margin-bottom: $basic-gutter;;

      &:nth-child(even) {
        @include media-breakpoint-up(md) {
          .box--image-overflow-wrapper {
            left: 0;

            .box--image {
              left: 0;
            }
          }
        }

        .box--content {
          @include media-breakpoint-up(md) {
            padding: 0 2rem 0 2rem;
            margin: 0 auto 0 0;
          }
        }
      }

      &:nth-child(odd) {
        @include media-breakpoint-up(md) {
          .box--image-overflow-wrapper {
            right: 0;

            .box--image {
              right: 0;
            }
          }
        }

        .box--content {
          @include media-breakpoint-up(md) {
            padding: 0 2rem 0 2rem;
            margin: 0 0 0 auto;
          }
        }
      }
    }

    > div:not(.col-md-6) {
      .box--image-holder {

        .box--image-overflow-wrapper {
          @extend .make-fullwidth;

          .box--image {

          }
        }


      }

      .box--content {
        max-width: rfs-value(650px);
      }
    }

    > div:not(:last-child) {
      @include media-breakpoint-down(md) {
        margin-bottom: 3rem;
      }
    }
  }

  .box--image-holder {
    min-height: rfs-fluid-value(350px);
    position: relative;

    @include media-breakpoint-up(xxl) {
      min-height: rfs-value(450px);
    }


    .box--image-overflow-wrapper {
      overflow: hidden;
      width: calc(50vw - calc(var(--bs-gutter-x) * .4));
      position: absolute;


      @include media-breakpoint-down(md) {
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
      }

      .box--image {
        transition: all 0.3s ease-in-out;

        min-height: rfs-fluid-value(350px);
        @include media-breakpoint-up(xxl) {
          min-height: rfs-value(450px);
        }


        &:hover {
          transform: scale(1.05, 1.05);
        }
      }
    }
  }

  .box--content {
    max-width: rfs-value(400px);
    text-align: center;
    margin: 0 auto;
    transition: background-color .3s ease;
    position: relative;


    .headline--wrapper {
      margin-top: -3rem;
      margin-bottom: 2rem;

      &.as-box {
        background-color: $body-bg;
        color: $body-color;
        box-shadow: $box-shadow;
        padding: 1.5rem 2rem;
        text-align: center;
        display: inline-block;

        > * {
          margin: 0px;
        }
      }
    }
  }

}