.ce_rsce_stoerer {
  position: absolute;
  right: 25px;
  top: 150px;
  z-index: 10;

  .ce--stoerer {
    position: relative;

    .stoerer--content {
      position: absolute;
      width: 80%;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
      padding: 0rem .75rem;
      @include font-size(18px);
    }
  }
}
