@import "../../variables-layout";

@import "../../../_vendor/node_modules/bootstrap/scss/functions";
@import "../../../_vendor/node_modules/bootstrap/scss/variables";
@import "../../../_vendor/node_modules/bootstrap/scss/mixins";

@import "../../scss-variables";
@import "../../_theme/variables-layout";

html body {
  .ce_rsce_mitarbeiter {
    margin-bottom: rfs-value(-25px);

    .row > div {
      margin-bottom: rfs-value(25px);
    }

    .ma--element {
      display: flex;
      flex-flow: column nowrap;
      height: 100%;

      .ma--image {
        position: relative;

        > a {
          display: block;
          position: relative;
          z-index: 22;
          text-align: center;
        }

        .badge {
          padding: .5rem;
          position: absolute;
          bottom: .75rem;
          left: .75rem;
        }
      }

      .ma--details {
        @include padding(10px 0px 0px 0px);
        @include font-size(18px);
        flex: 1;


        span.name {
          color: var(--bs-primary);
        }

        &.with-bg {
          padding: 1.5rem 1rem;
        }

        .job-subline {
          @include font-size(14px);

          @include media-breakpoint-up(md) {
            min-height: rfs-value(42px);
          }
        }

        .job-desc {
          margin-top: 0.75rem;

          a {
            text-decoration: none;
          }
        }
      }
    }
  }
}