.ce_rsce_advantages {
  margin-bottom: rfs-value(10px);

  .row {
    > div {
      margin-bottom: rfs-value(40px);


      .advantages--box {
        .advantages--headline {

        }

        .advantages--subline {

        }

        .advantages--text {
          margin-top: 1rem;
        }
      }
    }
  }
}