@import "../../../_vendor/node_modules/bootstrap/scss/functions";
@import "../../../_vendor/node_modules/bootstrap/scss/variables";
@import "../../../_vendor/node_modules/bootstrap/scss/mixins";

@import "../../scss-variables";


.ce_rsce_elementslider_sections {


  .ce--section-slider {
    padding-top: rfs-value(100px);

    @include media-breakpoint-down(md) {
      padding-top: 2rem;
    }

    @include media-breakpoint-up(md) {
      padding-top: rfs-value(150px);
    }

    @include media-breakpoint-up(lg) {
      padding-bottom: calc(var(--bs-basic-spacing)  * 1.5);
    }
  }

  .scroll-to-bottom {
    text-align: center;
    left: 0;
    @include font-size(60px);


    @include media-breakpoint-up(md) {
      position: absolute;
      width: 100%;
      bottom: 2rem;
    }
  }
}