@import "../../../_vendor/node_modules/bootstrap/scss/functions";
@import "../../../_vendor/node_modules/bootstrap/scss/variables";
@import "../../../_vendor/node_modules/bootstrap/scss/mixins";

@import "../../scss-variables";

html body {
  .content--element.ce_rsce_stoerer {
    position: absolute;
    z-index: 10;

    .ce--stoerer {
      position: relative;
      border-radius: var(--bs-border-radius);
      padding: 1rem;
      display: flex;
      align-items: center;
      gap: 1rem;
      flex-flow: row nowrap;
      transition: all .3s ease-in-out;

      svg{
         transition: all .3s ease-in-out;
      }

      &:not(:last-child) {
        margin-bottom: 0.25rem;
      }

      > a {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }

      .stoerer--content {
        @include font-size(18px);
      }
    }
  }
}
