@import "../../variables-layout";

@import "../../../_vendor/node_modules/bootstrap/scss/functions";
@import "../../../_vendor/node_modules/bootstrap/scss/variables";
@import "../../../_vendor/node_modules/bootstrap/scss/mixins";

@import "../../scss-variables";
@import "../../_theme/variables-layout";

html body {
  .ce_rsce_boxenfeld {

    @include media-breakpoint-down(lg) {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .boxes--outer {


      &:not(:last-child) {
        margin-bottom: $basic-gutter;
      }

      > .row {
        .half-container {
          margin-right: auto;
        }

        .box--image {
          @include media-breakpoint-up(lg) {
            border-radius: 0 var(--bs-border-radius-xl) var(--bs-border-radius-xl) 0;
          }
        }

        &.flex-row-reverse {
          .half-container {
            margin-left: auto;
            margin-right: 0;
          }

          .box--image {
            @include media-breakpoint-up(lg) {
              border-radius: var(--bs-border-radius-xl) 0 0 var(--bs-border-radius-xl);
            }
          }
        }
      }

      .row.flex-row-reverse {
        @include media-breakpoint-up(lg) {
          flex-flow: row-reverse;
        }
      }

    }

    img.box--image {
      border-radius: var(--bs-border-radius-xl) var(--bs-border-radius-xl) 0px 0px;
    }

    .half-container {
      @include media-breakpoint-down(lg) {
        max-width: 100%;
      }
    }

    .box--content {
      border: 7px solid var(--bs-primary);
      padding: 3rem;
      z-index: 9;
      position: relative;
      border-radius: var(--bs-border-radius-xl);
      @include media-breakpoint-down(lg) {
        top: 0 !important;
        border-radius: 0px 0px var(--bs-border-radius-xl) var(--bs-border-radius-xl);
      }

      @include media-breakpoint-up(xxl) {
        border-radius: var(--bs-border-radius-xl);
      }

      .box--headline:first-child > * {
        margin-top: 0px;
      }

      .box--button {
        margin-top: 1.5rem;
      }
    }
  }
}