@import "../../../_vendor/node_modules/bootstrap/scss/functions";
@import "../../../_vendor/node_modules/bootstrap/scss/variables";
@import "../../../_vendor/node_modules/bootstrap/scss/mixins";

@import "../../scss-variables";

html body {
  .ce_rsce_numberboxes {
    .number-box--wrapper {
      line-height: var(--bs-body-line-height-xs);

      &.with-headline {
        min-height: rfs-value(250px);
        @include media-breakpoint-up(md) {
          min-height: rfs-fluid-value(300px);
        }

        @include media-breakpoint-up(xxl) {
          min-height: rfs-value(350px);
        }
      }

        background-size: cover !important;
        display: flex;
        align-items: flex-end;
        position: relative;
        //color: var(--bs-white);
        background-position: center;
        flex-flow: row wrap;

        .number-box--title {
          position: absolute;
          top: 50%;
          right: 50%;
          transform: translate(50%, -50%);
          width: 100%;
        }
      .row {
        .left-col--inner {
          padding: .5rem;
        }

        .right-col--inner {
          padding: .5rem;
        }
      }

      .number-box--title {
        text-align: center;
        color: inherit;

        > * {
          text-transform: uppercase;
          margin-bottom: 0px;
          //font-weight: $font-weight-bolder;
          //@include font-size(34px);
          //color: var(--bs-white);
          line-height: var(--bs-body-line-height-xs);
          color: inherit;
        }

        & + .number-box--content {
          margin-top: 1.25rem;
        }
      }

      .number-box--content {
        width: 100%;
        text-align: center;
        line-height: var(--bs-body-line-height-xs);
        padding-bottom: .75rem;

        .left--col {
          .left-col--inner {
            white-space: nowrap;
            font-weight: $font-weight-bolder;
            @include font-size(30px);

            span {
              display: inline-block;
              line-height: var(--bs-body-line-height-xs);
            }
          }
        }

        .right--col {
          .right-col--inner {
            font-weight: $font-weight-bolder;

            &.with-left-col {
              border-left: 4px solid var(--bs-white);
            }

            p {
              line-height: var(--bs-body-line-height-xs);
              &:not(:last-child){
                margin-bottom: .5rem;
              }
            }
          }
        }
      }
    }
  }
}
