

@import "../../../_vendor/node_modules/bootstrap/scss/functions";
@import "../../../_vendor/node_modules/bootstrap/scss/variables";
@import "../../../_vendor/node_modules/bootstrap/scss/mixins";

@import "../../scss-variables";


html body {

  .ce_rsce_videoslider {

    
    .swiper-pagination{
      position: relative;
      margin-top: .5rem;
    }
    
    
    .swiper {
      .swiper-slide {
        a {
          text-decoration: none;
        }

        .iframe_container{

        }

        .slide-caption {
          display: block;
          padding-top: rfs-value(5px);
          text-align: center;
          font-weight: $font-weight-semibold;
          @include font-size(15px);
          text-decoration: none;
          color: var(--bs-body-color);
        }

        .slide-description {
          @include font-size(14px);
        }
      }


    }


  }
}