@import "../../../_vendor/node_modules/bootstrap/scss/functions";
@import "../../../_vendor/node_modules/bootstrap/scss/variables";
@import "../../../_vendor/node_modules/bootstrap/scss/mixins";

@import "../../scss-variables";

html body {
  .ce_rsce_gridcontent {
    .row--wrapper {
      .column--wrapper {
        .column--content {
          &.image_above {
            flex-flow: column wrap;
          }

          &.image_below {
            flex-flow: column wrap;
          }

          &.image_start {
          }

          &.image_end {
            flex-direction: column-reverse;

            @include media-breakpoint-up(md) {
              flex-direction: row-reverse;
            }
          }
        }
      }
    }
  }
}
