@import "../../../_vendor/node_modules/bootstrap/scss/functions";
@import "../../../_vendor/node_modules/bootstrap/scss/variables";
@import "../../../_vendor/node_modules/bootstrap/scss/mixins";

@import "../../scss-variables";

html body {
  .content--element.ce_rsce_stoerer {
    position: absolute;
    z-index: 1000;

    &[style*="right: 0px;"] {
      .ce--stoerer {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
      }
    }

    .ce--stoerer {
      position: relative;
      border-radius: var(--bs-border-radius);
      padding: .5rem;
      display: flex;
      align-items: center;
      gap: 1rem;
      flex-flow: row nowrap;
      transition: all .3s ease-in-out;
      white-space: nowrap;
      box-shadow: $box-shadow;

      @include media-breakpoint-up(md) {
        padding: 1rem;
      }


      &.is-expandable {
        transition: all .3s ease-in-out;
        //padding-right: 0 !important;

         gap: 0rem;

        .stoerer--content {
          max-width: 0px;
          overflow: hidden;
          transition: max-width .3s ease-in-out;
        }

        &:hover {
          padding-right: .5rem;
               gap: .5rem;

          @include media-breakpoint-up(md) {
            padding-right: 1rem;
               gap: 1rem;
          }

          .stoerer--content {
            max-width: 300px;
          }
        }
      }

      svg {
        transition: all .3s ease-in-out;

        @include media-breakpoint-down(md) {
          max-width: 25px;
        }

      }

      &:not(:last-child) {
        margin-bottom: 0.25rem;
      }

      > a {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }

      .stoerer--content {
        @include font-size(18px);

        p {
          margin-bottom: 0;
        }
      }
    }
  }
}
