.ce_rsce_equalboxfield {
  .ce--equalboxfield {

    > .row {
      height: 100%;

      > div {
        margin-bottom: var(--bs-gutter-x);
      }
    }

    .box--element {
      position: relative;
      height: 100%;

      > a {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;

        &:hover + .row {
          opacity: .9;
        }
      }

      > .row {
        height: 100%;
        transition: all .3s ease;
      }

      .box--image {
        width: 100%;
        height: 100%;

        .box-image--holder {
          width: 100%;
          height: 100%;
          min-height: rfs-value(200px);
        }
      }

      .box--details {
        padding: .75rem;
        display: flex;
        flex-flow: column wrap;
        height: 100%;


        .box--headline {
          font-family: var(--bs-font-tertiary);
          @include font-size(22px);
        }

        .box--subline {
          margin-top: 0rem;
          font-family: var(--bs-font-tertiary);
        }

        .box--text {
          margin-top: 1.5rem;
        }

        .box--footer {
          margin-top: auto;
          padding-top: 1.5rem;


          a {
            position: relative;
            z-index: 2;
            right: -.75rem;
            bottom: -.75rem;
            width: rfs-value(50px);
            height: rfs-value(50px);
            line-height: rfs-value(55px);
            text-align: center;
            background-color: rgba(255, 255, 255, .8);
            color: var(--bs-body-color);
            display: inline-block;

            i {
              @include font-size(24px);
            }
          }
        }
      }
    }
  }
}