.ce_rsce_imageandtext {
  .ce--image-text {
    &.as--rows {

      > .row {

        > *:not(:last-child) {
          margin-bottom: 2rem;
        }

        > * {
          .col--inner > .row {
            align-items: center;

            > div {
              .col--inner {
                border-bottom: 2px solid $body-color;
                @include padding-bottom(40px);
              }
            }
          }
        }
      }


      .image--wrapper {
        padding-right: 2.5rem;
      }

      .headline {
        margin-bottom: .5rem;

        @include media-breakpoint-down(sm) {
          margin-top: 1rem;
        }

        h2, .h2 {
          font-weight: $font-weight-semibold;
          color: $black;
        }
      }
    }

    &:not(.as--rows) {
      > .row > div:not(:last-child) {
        margin-bottom: 2rem;
        @include media-breakpoint-up(md) {
          margin-bottom: 0rem;
          border-right: 2px solid $body-color;
        }
      }

      .col--inner {
        @include media-breakpoint-up(xl) {
          @include padding-left(40px);
          @include padding-right(40px);
        }
      }


      .headline {
        text-align: center;
      }

      .image {
        .image--wrapper {
          margin: 1.5rem 0rem;
        }
      }

      .text {
        text-align: center;

        a {
          font-style: italic;
          font-weight: $font-weight-semibold;
          text-decoration: none;
          display: inline-block;
          color: $body-color;

          &:hover {
            color: $primary;
          }

          &:after {
            content: '>';
            display: inline-block;
            margin-left: 3px;
          }
        }
      }
    }
  }

  .image {
    text-align: center;
  }

  .headline {
    > * {
      margin-bottom: 0px;

      &:after, &:before {
        display: none;
      }
    }
  }
}