.ce_rsce_fullwidthstoerer {
  .fullwidthstoerer--inner {
    background-color: $secondary;
    color: var(--bs-white);
    overflow: hidden;

    .stoerer--content-column {
      padding: 2rem 0;
    }

    .stoerer--headline {
      > * {
        margin-top: 0px;
      }
    }

    img {
    }

    .stoerer--button {
      margin-top: 1.5rem;

      a.btn {
      }
    }
  }
}
