@import "../../mixins";


@import "../../../_vendor/node_modules/bootstrap/scss/functions";
@import "../../../_vendor/node_modules/bootstrap/scss/variables";
@import "../../../_vendor/node_modules/bootstrap/scss/mixins";

@import "../../scss-variables";


.location-item {
  display: none;

  &.is-active {
    display: block;
  }

  .loc-wrapper {
    display: flex;
    flex-flow: row nowrap;

    gap: .5rem;

    .loc-icon {
      display: inline-block;
      min-width: 25px;
      text-align: center;


      i {
        color: var(--bs-primary);
      }
    }
  }


  span, strong {
    display: block;
  }

  a {
    text-decoration: none;
  }
}

