

@import "../../../_vendor/node_modules/bootstrap/scss/functions";
@import "../../../_vendor/node_modules/bootstrap/scss/variables";
@import "../../../_vendor/node_modules/bootstrap/scss/mixins";

@import "../../scss-variables";


html body {
  .ce_rsce_imageandtext {
    .ce--image-text {
      &.as--rows {

        > .row {
          > * {

            &:not(:last-child) > .col--inner {
              padding-bottom: 2rem;
              margin-bottom: 1rem;
              border-bottom: 2px solid var(--bs-primary);
            }

            .col--inner > .row {
            }
          }
        }

        .image--wrapper {
          @include media-breakpoint-up(lg) {
            //padding-right: 2.5rem;
          }
        }

        .headline {

          @include media-breakpoint-down(sm) {
            margin-top: 1rem;
          }


        }
      }

      /*
         &:not(.as--rows) {
        /*
         > .row {
          --bs-gutter-y: 2rem;

          @include media-breakpoint-up(md) {
            border-left: 2px solid var(--bs-body-color);
            border-top: 2px solid var(--bs-body-color);
          }

          > div {
            @include media-breakpoint-up(md) {
              border-right: 2px solid var(--bs-body-color);
              border-bottom: 2px solid var(--bs-body-color);
              padding-bottom: 2rem;
            }
          }
        }




        .col--inner {
          @include media-breakpoint-up(xl) {
            @include padding-left(40px);
            @include padding-right(40px);
          }
        }

        .headline {
          text-align: center;
        }

        .image {
          .image--wrapper {
            //margin: 1.5rem 0rem;
          }
        }

        .text {
          text-align: center;


                 a {
            font-style: italic;
            font-weight: $font-weight-semibold;
            text-decoration: none;
            display: inline-block;
            color: var(--bs-body-color);

            &:hover {
              color: var(--bs-primary);
            }

            &:after {
              content: ">";
              display: inline-block;
              margin-left: 3px;
            }
          }


        }
      }
       */

    }

    .image {
      text-align: center;
    }

    .headline {
      > * {
        &:after,
        &:before {
          display: none;
        }
      }
    }
  }
}