.ce_rsce_slider {
  .slider-subline {
    display: block;
    padding: rfs-value(15px 0px 0px 0px);
  }

  .swiper-slide{
    transition: all .3s ease;
      &.swiper-slide-next, &.swiper-slide-prev{
    opacity: .6;
  }
  }


}
