@import "../../mixins";

@import "../../../_vendor/node_modules/bootstrap/scss/functions";
@import "../../../_vendor/node_modules/bootstrap/scss/variables";
@import "../../../_vendor/node_modules/bootstrap/scss/mixins";

//@import "../../scaffolding/helper-classes";

@import "../../scss-variables";

html body {
  .ce_rsce_headline_image_and_box {
    .ce--main-image {
      .image--holder {
        height: 50vh;
        background-size: cover !important;
        background-position: center center;
        position: relative;
        box-shadow: var(--bs-box-shadow-inset-lg);

        &:not(.hide-gradient) {
          &:after {
            content: "";
            height: rfs-fluid-value(200px);
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 5;
            background: linear-gradient(
              rgba(var(--bs-body-bg-rgb), 0) 0%,
              #fff 100%
            );
          }
        }
      }

      & + .container {
        margin-top: 1.5rem;
      }

      & + .box--holder {
        @include content-box();
        background: var(--bs-gradient);
      }
    }

    .box--holder {
      position: relative;
      z-index: 5;
      margin: 0 auto;

      &.content--box {
        margin-top: -15%;

        @include media-breakpoint-up(lg) {
          max-width: 75%;
        }
      }
    }
  }
}
