.ce_rsce_teaserstripe {
  .ce--teaser-stripe {
    .ts--inner {
      padding: rfs-value(30px) 0px;

      .ts--text {
        &.dynamic-fontsize {
          padding: 0 2rem;
          text-transform: uppercase;


          p {
            font-size: calc(2.5vh + 2.5vw);
            line-height: var(--bs-body-line-height-sm);
          }
        }
      }
    }
  }
}
