.ce_rsce_downloads {
  .download-list {
    display: flex;
    flex-flow: row wrap;
    gap: .75rem;

    a {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      text-align: left;
      line-height: 34px;

      img, i {
        width: 30px;
        margin-right: .25rem;
      }
    }
  }
}