@font-face {
    font-family: 'Gotham Ultra';
    src: url('./GothamUltra-Italic.woff2') format('woff2'),
        url('./GothamUltra-Italic.woff') format('woff'),
        url('./GothamUltra-Italic.svg#GothamUltra-Italic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

