/* Interstate */
@font-face {
  font-family: 'Interstate';
  src: url('../_fonts/interstate/Interstate-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Interstate';
  src: url('../_fonts/interstate/Interstate-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

/*
@font-face {
  font-family: 'Interstate';
  src: url('../_fonts/interstate/Interstate-Thin-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
 */
