form .formbody{
      --bs-gutter-x: 10px;
    --bs-gutter-y: 10px;
}


.form-check-input[type=checkbox],
form .widget:not(.form-floating).widget-radio fieldset>span input[type=checkbox],
form .widget:not(.form-floating).widget-checkbox fieldset>span input[type=checkbox]{
  border-radius: 0;
  border: none;
  width: 20px;
  height: 20px;
}

.checkbox_container label{
  padding-left: 10px;
}

.agb_checkbox label, .agb_notice p{
  font-size: clamp(14px, 1.2vw, 16px);
}

