#mainNav {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      display: inline-block;

      a, strong {
        display: block;
      }
    }
  }

  .level_1 {
    > li {

      &:not(:last-child) {
        margin-right: .25rem;
      }

      &.submenu > *:first-child {
        display: flex;
        align-items: center;
        gap: .35rem;

        &:after {
          @extend %fa-icon, .fak;
          content: '\e003';
          font-size: .35rem;
          padding-top: .15rem;
        }
      }


      > *:first-child {
        padding: .65rem .25rem;
        font-weight: $font-weight-normal;
        transition: all .15s ease-in-out;
      }

      &:hover, &.active, &.trail {
        > *:first-child:not(.contact-btn) {
          color: $primary;
          -webkit-text-stroke: 0.3px currentColor;
          text-stroke: 0.3px currentColor;
        }
      }

      .contact-btn {
        background-color: var(--bs-primary);
        color: var(--bs-body-color-inverse);
        padding-inline: 1.25rem;

        &:hover, &:focus, &.active {
          box-shadow: inset 0 0 0 2px var(--bs-primary);
          color: var(--bs-primary);
          background-color: transparent;
          -webkit-text-stroke: initial;
          text-stroke: initial;
        }
      }

      &:hover .level_2-wrapper {
        visibility: visible;
        //height: max-content;
        height: 450px;
        z-index: 10;
      }
    }
  }

  .level_2-wrapper {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    // height: 0; // Alt
    height: 0; // Neu
    overflow: hidden;
    visibility: hidden;
    z-index: -1;
    background-color: var(--bs-body-bg);
    border-bottom: 1px solid $border-color;
    transition: all .75s ease-in-out;
  }

  .level_2 {
    display: grid;
    gap: 0 10px;
    width: 100%;
    margin-left: auto;
    padding-left: 0;
    padding-top: calc(var(--main-gap) / 3);

    @include media-breakpoint-up(md) {
      position: relative;
      left: -.4rem;
    }


    &:has(:nth-child(5)) {
      grid-template-columns: repeat(2, 1fr);
    }

    > li {
      &.is-100 {
        grid-column: 1 / -1;
        margin-bottom: calc(var(--main-gap) / 3);
      }

      &.is-right {
        grid-column: 2 / 3;
      }

      > *:first-child {
        display: inline-flex;
        align-items: center;
        gap: .75rem;
        @include font-size(24px);
        padding: .75rem .65rem;
        transition: all .3s ease-in-out;

        &:hover, &.active, &.trail {
          gap: 1.5rem;
          background-color: var(--bs-primary);
          color: var(--bs-body-color-inverse);
        }

        &:after {
          @extend %fa-icon, .fak;
          content: '\e000';
          font-size: 1.35rem;
        }
      }
    }
  }
}

body:not(.is-home) .level_1 > li {
  animation-name: none !important;
  opacity: 1 !important;
  visibility: visible !important;
}

.mm-spn.mod_navigation {


  .contact-btn {
    display: none !important;
  }
}


.mm-spn.mod_navigation:before {
  @extend %fa-icon, .fak;
  content: '\e005';
  align-content: center;
  transform: none;
}

.mm-spn.mod_navigation li:not(.extra-content):before {
  @extend %fa-icon, .fak;
  content: '\e000';
  align-content: center;
}


html body main#main .content--element .mod_breadcrumb {
  font-size: rfs-value(12px);

  ul {
    li {
      display: inline-block;
      padding-left: 0;
      margin-bottom: 0;

      &:first-child {
        &:before {
          display: none;
        }
      }

      &:before {
        position: static;
        content: '>';
        vertical-align: baseline;
        margin-right: 5px;
        font-family: var(--bs-body-font-family);
      }

      > * {
        color: currentColor;
      }
    }

    @include media-breakpoint-down(sm) {
      // Alle li-Elemente, die nicht das letzte sind, werden zu "..."
      li:not(:last-child) {
        > a,
        > strong {
          font-size: 0 !important; // Versteckt Originaltext
          &:after {
            content: '...' !important;
            font-size: rfs-value(12px) !important; // Schriftgröße für "..."
            display: inline !important;
          }
        }
      }

      li[aria-current="page"] {
        > a,
        > strong {
          font-size: rfs-value(12px) !important; // Stelle Original-Schriftgröße wieder her
          &:after {
            content: '' !important; // Kein "..."
            display: none !important; // Sicherstellen, dass ::after nicht stört
          }
        }
      }
    }
  }
}

.pagination {
  text-align: center;
  margin-top: var(--main-gap);
  width: 100%;
  color: currentColor;

  ul {
    list-style-type: none;
    margin: 0;
    display: inline-flex;
    flex-flow: row nowrap;
    gap: .75rem;
    align-items: center;

    a {
      color: currentColor;
    }

    a:after {
      display: none;
    }

    .active, a:hover {
      color: currentColor;
      -webkit-text-stroke: 0.3px currentColor;
      text-stroke: 0.3px currentColor;
    }
  }
}