.services-overview .services-list {
  .service-item {
    &:first-child {
      border-top: 0;
    }

    @include media-breakpoint-up(lg) {
      padding-left: var(--main-gap)
    }

    &:hover {
      background-color: transparent;

      .service-link {
        color: var(--bs-body-color);
        padding-left: 1.25rem;
      }
    }

    .service-link {
      border: 0;
      padding: .75rem 1.25rem;
      display: inline-block;


      &:hover, &.active {
        --bs-h5-font-weight: #{$font-weight-bold};
        --bs-h3-font-weight: #{$font-weight-bold};
        background-color: var(--bs-tertiary);
        //color: var(--bs-body-color-inverse);
        color: var(--bs-body-color);
      }
    }
  }
}

.mobile-service-button{
  white-space: nowrap;
}