.mod_changePassword {
  .fields {
    @include media-breakpoint-up(lg) {
      display: flex;
      flex-flow: row wrap;
      margin-left: -1rem;
      margin-right: -1rem;
    }


    .widget {
      @include media-breakpoint-up(lg) {
        width: 33.333%;
        padding-right: 1rem;
        padding-left: 1rem;
      }
    }
  }
}