

@import "../../../_vendor/node_modules/bootstrap/scss/functions";
@import "../../../_vendor/node_modules/bootstrap/scss/variables";
@import "../../../_vendor/node_modules/bootstrap/scss/mixins";

@import "../../scss-variables";


.ce_custom_downloads_accordion{

  &.list-only{
    .download-element{
      a{
        text-decoration: none;
        gap: 15px;
      }
    }
  }

  &.with-previews{
    i{
      transition: all .3s ease-in-out;
      @include font-size(32px);
      color: var(--bs-primary);
      &:hover{
        color: var(--bs-accordion-active-color);
      }
    }
  }
}