header#header {
  position: sticky;
  top: 0;
  border-bottom: 1px solid $border-color;
  z-index: 20;
  background-color: $body-bg;
  padding-block: calc(var(--main-gap) / 2) 0;
  transition: padding .3s ease-in-out;

  .mobileNav__activator-holder, .navigation .level_1 > li, .logo {
    transition: padding .3s ease-in-out;

    @include media-breakpoint-up(lg) {
      padding-bottom: 1.5rem;
    }
  }


  &.is-scrolling {
    padding-block: .5rem 0;

    .mobileNav__activator-holder,
    .navigation .level_1 > li,
    .logo {
      padding-bottom: 0;

      @include media-breakpoint-up(lg) {
        padding-bottom: .5rem;
        padding-top: .5rem;
      }

      @include media-breakpoint-up(xxl) {
        padding-bottom: 1rem;
      }
    }


    &:not(.is-scrolling-up) {
      .header-top {
        opacity: 0;
        max-height: 0;
        overflow: hidden;
      }
    }

    .header-bottom {
      padding-top: 0;
    }
  }


  .header-top {
    text-align: right;
    font-size: $font-size-sm;
    position: relative;
    z-index: 5;
    transition: all .3s ease-in-out;
    max-height: 38px;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-flow: row nowrap;

      li {
        display: inline-block;

        strong, a {
          display: inline-block;
          transition: all .15s ease-in-out;
        }
      }
    }

    .mod_navigation {
      display: inline-block;

      ul {
        li {
          strong, a {
            padding: .5rem .35rem;
            font-weight: $font-weight-normal;

            &.active, &:hover {
              background-color: $secondary;
              color: $primary;
            }
          }
        }
      }
    }

    .mod_changelanguage {
      display: inline-block;
      font-weight: $font-weight-bold;

      ul {
        li {
          strong, a {
            padding: .5rem 0 .5rem .35rem;
          }
        }
      }

    }
  }

  .header-bottom {
    position: relative;
    transition: padding-top .3s ease-in-out;
    //padding-top: 1.5rem;


    @include media-breakpoint-up(lg) {
      margin-top: -47px;
      padding-top: 0;
    }

    @include media-breakpoint-up(xxl) {
      margin-top: 0;
      padding-top: 1.5rem;
    }

    .logo {
      svg {
        @include media-breakpoint-down(sm) {
          width: 200px;
        }
      }
    }

    .nav-wrapper {
      display: flex;
      flex-flow: row wrap;
      gap: 0 1rem;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.is-home {
  header#header #spinner {
    transform-box: fill-box;
    transform-origin: center;
    animation: spin 1.8s cubic-bezier(0.25, 0.1, 0.25, 1) 1;
    //animation-fill-mode: forwards;
    backface-visibility: hidden;
  }

  header#header #logoText {
    //text-rendering: geometricPrecision;
  }
}