
$spacers: (
        0: 0,
        1: 0.5rem,
        2: 1rem,
        3: 1.5rem,
        4: 2rem,
        5: 2.5rem,
        6: 3rem,
        7: 3.5rem,
        8: 4rem,
        9: 4.5rem,
        10: 5rem,
);

$gutters: (
        0: 0,
        1: $grid-gutter-width * 0.5,
        2: $grid-gutter-width,
        3: $grid-gutter-width * 2,
        4: $grid-gutter-width * 3,
        5: $grid-gutter-width * 4,
);


$headings-font-sizes: (
        'h1': (
                'mobile': 40px,
                'tablet': 60px,
                'desktop': 70px
        ),
        'h2': (
                'mobile': 30px,
                'tablet': 40px,
                'desktop': 50px
        ),
        'h3': (
                'mobile': 25px,
                'tablet': 25px,
                'desktop': 25px
        ),
        'h4': (
                'mobile': 25px,
                'tablet': 25px,
                'desktop': 25px
        ),
        'h5': (
                'mobile': 25px,
                'tablet': 25px,
                'desktop': 25px
        ),
        'h6': (
                'mobile': 25px,
                'tablet': 25px,
                'desktop': 25px
        )
);

// NEUE MAP: Abstände nach Überschriften (margin-bottom)
$headline-margins: (
        'h1': 2rem,
        'h2': 1.75rem,
        'h3': 1.5rem,
        'h4': 1.25rem,
        'h5': 1rem,
        'h6': 0.75rem
);

// NEUE MAP: Mobile Abstände nach Überschriften
$mobile-headline-margins: (
        'h1': 1.5rem,
        'h2': 1.25rem,
        'h3': 1rem,
        'h4': 0.9rem,
        'h5': 0.8rem,
        'h6': 0.6rem
);


// NEUE MAP: Abstände für Toplines (margin)
$topline-margins: (
        'h1': 0 0 .4em 0,
        'h2': 0 0 .6em 0,
        'h3': 0 0 .2em 0,
        'h4': 0 0 .2em 0,
        'h5': 0 0 .2em 0,
        'h6': 0
);

// NEUE MAP: Abstände für Sublines (margin)
$subline-margins: (
        'h1': .2em 0 0 0,
        'h2': .2em 0 0 0,
        'h3': .2em 0 0 0,
        'h4': .2em 0 0 0,
        'h5': .2em 0 0 0,
        'h6': .2em 0 0 0
);




//CSS Variablen beachten
$container-max-widths: (
        sm: 100%,
        md: 100%,
        lg: 992px,
        xl: 1140px,
        xxl: 1280px
);


$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 1040px,
        xl: 1200px,
        xxl: 1340px,
);

