@font-face {
  font-family: "Lena";
  font-style: normal;
  font-weight: 400;
  src: url('/files/base/layout/_fonts/Lena/Lena.eot'); /* IE9 Compat Modes */
  src: local('Lena'),
       url('/files/base/layout/_fonts/Lena/Lena.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/files/base/layout/_fonts/Lena/Lena.woff') format('woff'), /* Modern Browsers */
       url('/files/base/layout/_fonts/Lena/Lena.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/files/base/layout/_fonts/Lena/Lena.svg#Lena') format('svg'); /* Legacy iOS */
}