aside {
  @include media-breakpoint-up(md) {
    //margin-top: $basic-gutter !important;
    &#left {
      -ms-flex: 0 0 $left-col--width;
      flex: 0 0 $left-col--width;
    }

    &#right {
      -ms-flex: 0 0 $right-col--width;
      flex: 0 0 $right-col--width;
    }
  }

  .inside {
    .mod_navigation {
      margin-top: -0.25rem;

      ul {
        list-style-type: none;
        padding: 0px;
        margin: 0px;

        li {
          a,
          strong {
            transition: all 0.1s ease;
          }
        }
      }

      ul.level_1 {
        > li {
          > a,
          > strong {
            font-size: rfs-value(20px);
            color: $primary;
            text-decoration: none;
            display: block;
            padding: 0.75rem 0;
            line-height: 1;

            &.active,
            &:hover,
            &.trail {
              color: $body-color;
            }
          }
        }
      }

      ul.level_2 {
        margin-bottom: 0.25rem;

        > li {
          > a,
          > strong {
            font-size: rfs-value(18px);
            padding: 0.35rem 1.25rem;
            display: block;
            text-decoration: none;
            color: $body-color;

            &.active,
            &:hover,
            &.trail {
              background-color: var(--bs-gray-300);
            }
          }
        }
      }
    }

    > * {
      &:not(:first-child) {
        padding-top: $basic-gutter;
        border-top: 1px solid var(--bs-primary);
        margin-top: $basic-gutter;
      }
    }
  }
}
