aside {
  @include media-breakpoint-up(md) {
    &#left {
      -ms-flex: 0 0 $left-col--width;
      flex: 0 0 $left-col--width;
    }

    &#right {
      -ms-flex: 0 0 $right-col--width;
      flex: 0 0 $right-col--width;
    }
  }
}
