#footer{
  margin-top: auto;
  position: relative;
  z-index: 0;

  .fc--top{
    background-color: $footer-top-bg;
  }

  .fc--middle{
    background-color: $footer-middle-bg;
  }

  .fc--bottom{
    background-color: $footer-bottom-bg;
  }

  p:last-child{
    margin-bottom: 0px;
  }

}
