.footer--content {
  &.type--2 {
    .fc--top {
      padding: 1rem 0rem;

      #footerNav2 {
        ul {
          display: flex;
          justify-content: space-between;
          margin: 0px -1rem;
          list-style-type: none;
          padding: 0px;
          flex-flow: row wrap;

          @include media-breakpoint-up(xxl) {
            margin: 0px -2rem;
          }

          > li {
            padding: 0 1rem;

            @include media-breakpoint-up(xxl) {
              padding: 0 2rem;
            }

            > a,
            > strong {
              text-decoration: none;
              color: var(--bs-white);
              display: block;
              white-space: nowrap;
              @include font-size(14px);

              @include media-breakpoint-up(xxl) {
                @include font-size(18px);
              }

              &.active,
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }

    .fc--middle {
      padding: 1.5rem 0 1.5rem 0;

      figure {
        margin-bottom: 0px;

        img {
          max-height: rfs-value(100px);
          width: auto;
        }
      }
    }

    .fc--bottom {
      padding: 0.75rem 0;
      @include font-size(14px);

      a {
        color: var(--bs-white);
      }

      #footerNav {
        ul {
          //@extend .list-inline;
          margin: 0px;
          @include font-size(12px);

          @include media-breakpoint-up(lg) {
            text-align: center;
          }

          > li {
            //@extend .list-inline-item;

            &:not(:last-child) {
              &:after {
                content: "|";
                color: var(--bs-white);
                padding-left: 0.65rem;
              }
            }

            > a,
            > strong {
              text-decoration: none;
              color: var(--bs-white);

              &.active,
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }

      .social--list {
        .social-list--label {
          display: inline-block;
          color: var(--bs-body-color-inverse);
          @include font-size(14px);

          span {
            display: block;
          }
        }

        ul {
          margin-bottom: 0px;
          display: inline-block;
          font-size: 2rem;

          li {
            a {
              color: var(--bs-body-color-inverse);
            }
          }
        }
      }
    }
  }
}
