.footer--content {
  &.type--3 {
    background-color: $footer-top-bg;
    color: var(--bs-body-color-inverse);
    @include padding(50px 0px);
    @include font-size(22px);
    line-height: 1.5;


    .stoerer-button--list {
      ul {
        margin-left: 0px;
      }
    }

    a, h3 {
      color: var(--bs-body-color-inverse);
      text-decoration: none;
    }

    h3 {
      display: flex;

      @include media-breakpoint-up(lg) {
        //height: 60px;
      }

      > span {
        align-self: center;
      }
    }


    figure.image_container, .ce_headline {
      @include media-breakpoint-up(lg) {
        margin-bottom: 50px;
      }
    }

    #footerLogo {
      text-align: left !important;

      img {
        max-width: rfs-value(250px);
        max-height: rfs-value(60px);
        height: auto;
        width: auto;
      }
    }


    #footerNav {
      ul {
        list-style-type: none;
        padding: 0px;
        margin: .5rem 0 0 0;
        display: flex;
        flex-flow: row wrap;
        @include font-size(16px);

        > li {
          display: inline-block;
          vertical-align: middle;

          &:not(:last-child) {
            &:after {
              content: '|';
              display: inline-block;
              margin: 0 0px 0px 10px;
            }
          }
        }
      }
    }


  }
}