.footer--content {
  &.type--4 {
    background-color: $footer-top-bg;
    color: $text-color-inverse;
    @include padding(50px 0px 25px 0px);

    .row {
      > div:not(:last-child) {
        @include media-breakpoint-down(lg) {
          margin-bottom: 1.5rem;
        }
      }
    }

    a {
      color: $text-color-inverse;
      text-decoration: none;
    }

    ul {
      list-style-type: none;
      padding: 0px;
      margin: 0px;

      > li {
        display: block;
      }
    }

    #footerNav2 {
      ul {
        li {
          &:not(:last-child) {
            margin-bottom: 1rem;
          }

          a {
            text-transform: uppercase;

            &.active,
            &:hover {
              color: $primary;
            }

            &.active {
              font-weight: $font-weight-bold;
            }
          }
        }
      }
    }

    .social--list {
      margin-top: 2rem;

      ul {
        li {
          display: inline-block;
        }
      }
    }

    #footerLogo {
      img {
        max-width: 100%;
        @include media-breakpoint-up(xl) {
          max-width: 320px;
        }
      }
    }
  }
}
