.footer--content.type--7 {
  .fc--top {
    padding: 1.25rem 0;
  }

  .fc--middle {
    padding: 2.25rem 0;

    h3 {
      @include font-size(30px);
    }

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    #footerNav2 {
      ul {
        list-style-type: none;
        padding-left: 0px;
        margin: 0px;

        > li {
          display: block;

          &:first-child {
            margin-top: .1rem;
          }

          &:not(:last-child) {
            margin-bottom: .25rem;
          }
        }
      }
    }

    .stoerer-button--list {
      ul {
        margin-left: 0px;

        li {
          display: inline-block;
          vertical-align: bottom;

          &:not(:last-child) {
            margin-right: 1rem;
          }

          &:last-child {
            top: -0.5rem;
            position: relative;
          }

          a {
            @include font-size(4rem);

            &:hover {
              text-decoration: none;

              span{
                 color: var(--bs-secondary);
              }
            }

            span {
              line-height: 1;
              display: block;
              transition: all .15s ease-in-out;
            }
          }
        }
      }
    }
  }

  .fc--bottom {
    padding: .5rem 0;
  }
}

