#header {
  .header--content {
    &.fixed {
      position: fixed;
      width: 100%;
      left: 0;
      top: 0;
      z-index: 20;
    }

    figure {
      margin-bottom: 0px;
    }

    .header-icons {
      span {
        color: var(--bs-primary);
      }
    }
  }
}
