#offCanvasNav {
  .hc--bottom {
    margin-top: rfs-value(10px);
  }
}

&.theme-6 {
  @include media-breakpoint-down(lg) {
    padding-top: rfs-value(82px);
  }
}

.header--content {
  &.type--6 {
    &#staticHeader {
      padding: 1rem 0;

      @include media-breakpoint-up(lg) {
        padding: 2rem 0;
      }

      @include media-breakpoint-down(lg) {
        position: fixed;
        left: 0;
        top: 0;
        background-color: var(--bs-header-navbar-bg);
        width: 100%;
        z-index: 50;

        img {
          max-height: rfs-value(50px);
        }
      }
    }

    figure {
      margin: 0px;
    }

    a, .header-icons {
      color: var(--bs-primary);
    }

    #smallNavigation {
      ul {
        list-style-type: none;
        padding: 0px;
        margin: 0px;

        li {
          display: inline-block;
          margin: 0 1.5rem;

          a, .active {
            font-size: rfs-value(18px);
            @include media-breakpoint-up(xl) {
              @include font-size(22px);
            }

            font-weight: $font-weight-bold;
            text-decoration: none;
            text-transform: uppercase;
          }

          .active, a:hover {
            text-decoration: underline;
          }
        }
      }
    }

    #mainNav {
      margin-top: rfs-fluid-value(50px);

      ul.level_1 {
        list-style-type: none;
        padding: 0px;
        margin: 0px;
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: repeat(auto-fill, minmax(auto, calc(20% - 40px)));
        gap: 50px 40px;

        a {
          text-decoration: none;
        }

        > li > *:first-child {
          min-height: rfs-value(50px);
          display: block;
          text-transform: uppercase;
        }

        ul.level_2 {
          list-style-type: none;
          padding: 0px;
          margin: 0px;
          display: flex;
          flex-flow: wrap column;
          max-height: 220px;
          gap: 0px 25px;

          > li {
            font-weight: $font-weight-bold;
          }
        }
      }
    }

    .overlayNavOpen, .overlayNavClose, .navActivator {
      cursor: pointer;
      font-size: rfs-value(24px);
      color: var(--bs-primary);
      line-height: 1;
      padding: 0px;
    }

    .overlayNavClose {
      font-size: rfs-value(50px);
    }

    .overlayNavOpen {
      transition: box-shadow .3s ease, background-color .3s ease;
      width: 40px;
      height: 40px;
      border-radius: 15px;
      //line-height: 40px;
      text-align: center;
      margin-right: -10px;
      padding-top: 7px;
      margin-top: -7px;
    }


    .hc--bottom {
      &.scrolling-header {
        @include media-breakpoint-up(lg) {
          margin-top: rfs-value(30px);
        }
      }
    }

    //Scroll-Verhalten
    @include media-breakpoint-up(lg) {
      #scrollLogo {
        opacity: 0;
        transition: all .3s ease;
        position: relative;

        img {
          position: absolute;
        }
      }

      .hide-while-scrolling {
        transition: all .3s ease;
      }

      .hc--bottom.is--scrolling {

      }
    }
  }
}

&.is--scrolling {
  .header--content {
    &.type--6 {

      .hide-while-scrolling {
        opacity: 0;
      }

      .overlayNavOpen {
        top: 50px;
        margin-left: -30px;
        margin-right: 0px;
        box-shadow: $box-shadow;
        background-color: var(--bs-header-navbar-bg);
      }

      #scrollLogo, .overlayNavOpen {
        opacity: 1;
        position: fixed;
        z-index: 500;
        top: 25px;

        img {
          position: relative;
        }
      }

    }
  }
}