&.theme-3 {
  &:not(.start) {
    #main {
      padding-top: rfs-value(60px);

      @include media-breakpoint-up(lg) {
        padding-top: rfs-value(90px);
      }
    }
  }
}

.header--content {
  &.type--3 {
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 20;
    border-bottom: 1px solid $text-color-inverse;


    .hc--inside {
      > .row {
        //flex-flow: nowrap;
      }
    }

    #headerLogo {
      img {
        height: auto;
        width: auto;
        max-width: rfs-value(250px);
        max-height: rfs-value(65px);

        @include media-breakpoint-down(lg) {
          max-height: rfs-value(40px);
          margin: rfs-value(10px 0px);
        }
      }
    }

    #mainNav {
      ul.level_1 {
        list-style-type: none;
        padding: 0px;
        margin: 0px;
        text-align: right;

        > li {
          display: inline-block;

          &:not(:first-child) {
            margin-left: 1.75rem;
          }

          > a,
          > span,
          > strong {
            color: $text-color-inverse;
            text-decoration: none;
            display: block;
            white-space: nowrap;
            line-height: 90px;
            position: relative;
            transition: all 0.3s ease;
            @include font-size(16px);
            font-weight: $font-weight-semibold;

            &:after {
              content: "";
              display: block;
              height: 5px;
              width: 0px;
              position: absolute;
              bottom: 0;
              left: 0%;
              transition: all 0.3s ease;
            }

            &.active,
            &:hover,
            &.trail {
              color: $text-color-inverse;

              &:after {
                width: 100%;
                background-color: var(--bs-white);
              }
            }
          }

          &:hover {
            > ul.level_2 {
              max-height: rfs-fluid-value(400px);
            }
          }
        }
      }

      ul.level_2 {
        transition: all 0.5s ease;
        background-color: rgba(0, 0, 0, 0.8);
        list-style-type: none;
        margin: 0;
        max-height: 0px;
        padding: 0px;
        overflow: hidden;
        position: absolute;
        min-width: rfs-value(200px);
        text-align: left;
        border-radius: 0 0 $border-radius $border-radius;
        box-shadow: $box-shadow;
        z-index: 5;

        > li {
          display: block;
          padding: 0 1rem;
          transition: all 0.3s ease;

          &:first-child {
            padding-top: 5px;
          }

          &:last-child {
            padding-bottom: 5px;
          }

          &:not(:last-child) {
            border-bottom: 1px solid var(--bs-gray-800);
          }

          &:hover,
          &.active,
          &.trail,
          &:focus {
            > a,
            > span {
              color: var(--bs-gray-500);
            }
          }

          > a,
          > span,
          > strong {
            padding: 0.25rem 0rem;
            text-decoration: none;
            color: $text-color-inverse;
            font-weight: $font-weight-normal;
            display: block;
            @include font-size(15px);
          }
        }
      }
    }

    .navActivator {
      color: $text-color-inverse;
    }
  }
}
