.header--content {
  &.type--4 {
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    background-color: rgba(var(--bs-white-rgb), 0.8);
    z-index: 20;

    @include font-size(16px);
    @include media-breakpoint-up(xl) {
      @include font-size(18px);
    }

    a {
      text-decoration: none;
    }

    #headerLogo {
      img {
        height: auto;
        //max-width: rfs-value(150px);
        //max-height: rfs-value(65px);
        width: auto;

        @include media-breakpoint-down(lg) {
          //max-height: rfs-value(40px);
          margin: rfs-value(10px 0px);
        }
      }
    }

    #mainNav {
      ul.level_1 {
        list-style-type: none;
        padding: 0px;
        margin: 0px;
        text-align: center;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        @include media-breakpoint-down(xl) {
          justify-content: space-around;
        }

        > li {
          display: inline-block;
          padding: rfs-value(0 7.5px 0 7.5px);
          transition: all 0.15s ease;

          @include media-breakpoint-up(xl) {
            padding: rfs-value(0 15px 0 15px);
          }

          &:hover {
            background-color: rgba(var(--bs-white-rgb), 0.8);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          }

          > a,
          > span,
          > strong {
            text-decoration: none;
            display: block;
            white-space: nowrap;
            position: relative;
            transition: all 0.3s ease;
            line-height: 90px;
            font-weight: $font-weight-semibold;
            color: var(--bs-body-color);

            span {
              display: inline;
              transition: all 0.3s ease;
            }

            &.active,
            &:hover {
              color: var(--bs-primary);

              span {
                border-bottom: 1px solid var(--bs-body-color);
              }
            }
          }

          &:hover {
            > ul.level_2 {
              max-height: rfs-fluid-value(200px);
            }
          }
        }
      }

      ul.level_2 {
        transition: all 0.5s ease;
        background-color: rgba(var(--bs-white-rgb), 0.8);
        list-style-type: none;
        margin: 0 0 0 -5px;
        max-height: 0px;
        padding: 0px;
        overflow: hidden;
        position: absolute;
        text-align: left;
        border-radius: 0 0 $border-radius $border-radius;
        box-shadow: $box-shadow;
        z-index: 10;

        @include media-breakpoint-up(xl) {
          margin-left: -15px;
        }

        > li {
          display: block;
          padding: 0 1rem;
          transition: all 0.3s ease;

          &:first-child {
            padding-top: 5px;
          }

          &:last-child {
            padding-bottom: 5px;
          }

          &:not(:last-child) {
            border-bottom: 1px solid var(--bs-gray-200);
          }

          &:hover,
          &.active,
          &.trail,
          &:focus {
            > a,
            > span {
              color: var(--bs-primary);
            }
          }

          > a,
          > span,
          > strong {
            padding: 0.25rem 0rem;
            text-decoration: none;
            font-weight: $font-weight-normal;
            display: block;
            color: var(--bs-body-color);
            @include font-size(15px);
          }
        }
      }
    }

    .navActivator {
    }
  }
}
