#header {
  .header--content {
    &.fixed {
      position: absolute;
      width: 100%;
      z-index: 10;
    }

    figure {
      margin-bottom: 0px;
    }

    .header-icons {
      span {
        color: var(--bs-primary);
      }
    }
  }
}
