html, body, #wrapper{
  min-height: 100dvh;
}


#wrapper {
  overflow: clip;
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--bs-body-bg);

  #container {
    @include media-breakpoint-up(md) {
      &.with--left-col:not(.with--right-col) {
        #main {
          max-width: calc(100% - #{$left-col--width});
        }
      }

      &.with--right-col:not(.with--left-col) {
        #main {
          max-width: calc(100% - #{$right-col--width});
        }
      }

      &.with--right-col.with--left-col {
        #main {
          max-width: calc(100% - (#{$right-col--width} + #{$left-col--width}));
        }
      }
    }
  }

  #main {
    .mod_article {
      transition: background-position 0s ease-in-out;

      &:last-child > div:last-child {
        padding-bottom: var(--main-gap);
      }

      .ce--inner {
        position: relative;
      }

      .content--element {
        z-index: 3;
        &[class*="col"]:not(.ce_rsce_coloredrows, .ce_rsce_twocolimagewall) {
          padding-left: calc(var(--bs-gutter-x) * 0.5);
          padding-right: calc(var(--bs-gutter-x) * 0.5);
        }
      }

      .article-content:not(:has(.moved-content)),
      .article-content > .moved-content {
        > *:not(.body-slider):not(.bgvideo) {
          position: relative;
          //z-index: 1;
          padding-bottom: var(--main-gap);

          &:first-child {
            padding-top: var(--main-gap);
          }
        }
      }

      *[class*="bg-dark"] {
        color: var(--bs-body-color-inverse);

        *:not([class*="swiper-"]) {
          color: inherit;
        }
      }
    }
  }
}


.mod_article[class*="bg-"] + .mod_article:not([class*="bg-"]) {
  padding-top: $basic-gutter;
}