html, body, #wrapper {
  min-height: 100dvh;
}


#wrapper {
  background-color: var(--bs-body-bg);
  @include media-breakpoint-up(md) {
    overflow: clip;
    display: flex;
    flex-flow: column nowrap;
  }
  
  #container {
    @include media-breakpoint-up(md) {
      &.with--left-col:not(.with--right-col) {
        #main {
          max-width: calc(100% - #{$left-col--width});
        }
      }

      &.with--right-col:not(.with--left-col) {
        #main {
          max-width: calc(100% - #{$right-col--width});
        }
      }

      &.with--right-col.with--left-col {
        #main {
          max-width: calc(100% - (#{$right-col--width} + #{$left-col--width}));
        }
      }
    }
  }

  #main {
    .mod_article {
      transition: background-position 0s ease-in-out;

      &:last-child > div:last-child {
        margin-bottom: var(--main-gap);
      }

      .ce--inner {
        position: relative;
      }

      .content--element {
        z-index: 3;

        &[class*="bg-"] {
          > .ce--inner {
            @extend .container;
          }
        }
      }

      .article-content:not(:has(.moved-content)),
      .article-content > .moved-content {
        > *:not(.body-slider,.bgvideo, .ce_rsce_headline:not(:has(.text))) {
          position: relative;
          margin-bottom: var(--main-gap);

          &:first-child {
            //padding-top: var(--main-gap);
          }
        }
      }

      *[class*="bg-dark"] {
        color: var(--bs-body-color-inverse);

        *:not([class*="swiper-"], [class*="btn-"]) {
          color: inherit;
        }
      }
    }
  }
}


.mod_article[class*="bg-"] + .mod_article:not([class*="bg-"]) {
  padding-block: var(--main-gap)
}